<!DOCTYPE html>
<html th:lang="${#locale.language}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:sd="http://www.thymeleaf.org/spring-data">
<head th:replace="~{layout/page :: tw-page-head(headtitle=~{::title},links=~{},refreshMessages=false)}">
  <title th:text="'SimpleWorklist | ' + #{task.show.h1}">Title</title>
</head>
<body th:replace="~{layout/page :: tw-page-body(twcontent=~{::mytwcontent},twtitle=~{::mytwtitle},scripts=~{::script})}">

<div th:fragment="mytwtitle">
  <h1>
    <i class="fas fa-edit"></i>&nbsp;
    <span th:utext="#{task.show.h1}">Edit Task</span>
  </h1>
</div>

<div th:fragment="mytwcontent">
  <div>
    <form id="formId" method="post" class="was-validated"
          th:action="@{/taskstate/task/{taskId}/edit(taskId=${task.id})}" th:object="${task}">
      <div
        th:replace="~{layout/task :: tw-task-form(task=${task},listTaskState=${listTaskState},listTaskEnergy=${listTaskEnergy},listTaskTime=${listTaskTime},contexts=${contexts})}">
      </div>
      <div class="row my-3">
        <div class="col">
          <a th:href="@{/taskstate/{taskstateType}(taskstateType=${task.taskState.getSlug()})}"
             class="btn btn-secondary btn-block" role="button">
            <i class="fas fa-angle-double-left"></i>
            <span th:utext="#{task.show.button.close}">cancel and back</span>
          </a>
        </div>
        <div class="col">
          <button id="editTaskSubmit" type="submit" class="btn btn-primary btn-block">
            <i class="fas fa-save"></i>
            <span th:utext="#{task.show.button}">Save Task</span>
          </button>
        </div>
        <div class="col">
          <a th:href="@{/taskstate/task/{id}/transform(id=${task.id})}" class="btn btn-outline-secondary btn-block"
             role="button">
            <i class="fas fa-project-diagram"></i>
            <span th:utext="#{task.show.transform}">Transform into Project</span>
          </a>
        </div>
      </div>
    </form>
  </div>
</div>

</body>
</html>
