<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  xmlns:sd="http://www.thymeleaf.org/spring-data">
<head th:replace="layout/page :: head">
</head>
<body th:replace="layout/page :: tw-page-body(~{::mytwcontent})">
<div th:fragment="mytwcontent">

<!-- TODO #37 -->
<!-- Document Window -->

	<div th:if="${thisProject.id gt 0}">
		<h1>
			<i class="fas fa-folder-open"></i>&nbsp;
			<span th:text="${thisProject.name}"></span>
		</h1>
		<div th:text="${thisProject.description}"></div>
		<br />
		<br />
		<div>
			<a th:href="@{/project/{thisProjectId}/edit(thisProjectId=${thisProject.id})}" href="#">
				<i class="fas fa-edit"></i>
				<span th:text="#{project.show.edit}">Edit Project</span>
			</a> |
			<a th:href="@{/project/{thisProjectId}/delete(thisProjectId=${thisProject.id})}" href="#">
				<i class="fas fa-trash-alt"></i>
				<span th:text="#{project.show.delete}">Delete Project</span>
			</a> |
			<a th:href="@{/task/addtoproject/{thisProjectId}(thisProjectId=${thisProject.id})}" href="#">
				<i class="fas fa-plus-square"></i>
				<span th:text="#{project.show.addTask}">Add Task</span>
			</a>
		</div>
		<br />
	</div>

	<div th:replace="layout/tasks :: tw-tasks-message(message=${message})">
	</div>

	<div th:if="${taskPage.getTotalElements() gt 0}">
		<!-- TODO: #34 -->
		<div th:replace="layout/tasks :: tw-tasks-table(taskPage=${taskPage},myTaskState='PROJECT')">
		</div>
	</div>

	<div th:if="${taskPage.getTotalElements() eq 0}">
		<p><span th:text="#{project.show.nothingToDo}">There is nothing to do in this project.</span></p>
	</div>

</div>
</body>
</html>