<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="t/layout/page :: head">
</head>
<body th:replace="t/layout/page :: tw-page-body(~{::mytwcontent})">
<div th:fragment="mytwcontent">

    <h1>
        <span th:utext="#{search.resultlist.h1}">Search Result for searchterm</span>
        <i>${searchResult.searchterm}</i>
    </h1>

    <h2 th:if="${searchResult.taskList != null}">
        <span th:utext="#{search.resultlist.h2.noTasks}">No Tasks found</span>
    </h2>

    <div th:if="${searchResult.taskList != null}">
        <h2>
            <span th:utext="#{search.resultlist.h2.tasks}">Tasks</span>
        </h2>
        <div th:replace="t/layout/tasks :: tw-tasks-table(dataList=${searchResult.taskList},myTaskState='ALL')">
        </div>
    </div>

    <h2 th:if="${searchResult.projectList == null}">
        <span th:utext="#{search.resultlist.projects.h2.noProjects}">No Projects found</span>
    </h2>

    <div th:if="${searchResult.projectList != null}">
        <h2>
            <span th:utext="#{search.resultlist.projects.h2.projects}">Projects</span>
        </h2>
        <table class="table table-striped table-hover">
            <tr>
                <th><span th:utext="#{search.resultlist.projects.name}">Name</span></th>
                <th><span th:utext="#{search.resultlist.projects.description}">Description</span></th>
            </tr>
            <tr th:each="cat : ${searchResult.projectList}">
                <td>
                    <a th:href="@{/project/{id}(id=${cat.id})}" th:id="'categoryList_' + ${cat.id}">
                        <span th:text="${cat.name}">name</span>
                    </a>
                </td>
                <td>
                    <span th:text="${cat.description}">description</span>
                </td>
            </tr>
        </table>
    </div>

</div>
</body>
</html>