/target
/simpleworklist.iml
/.classpath
/.project
/.idea
/.settings
/SimpleWorklist.mdzip.bak
/mvn.log
/org.woehlke.simpleworklist.entities.Project
/org.woehlke.simpleworklist.entities.Task
/simpleworklist
/simpleworklistsearch
/simpleworklistsearch2
/pom.xml.releaseBackup
/release.properties
/etc/mavenlog.txt
/etc/mavenlog1.txt
/etc/mavenlog2.txt
/etc/mavenlog3.txt
target/
.env
.idea/
*.iml
.classpath
.project
.settings/
docs/tmp/
docs/java-getting-started/
docs/deploying-spring-boot-apps/
setenv.sh
setenv.cmd
/etc/pom.xml
/src/main/java/org/woehlke/simpleworklist/project/x.txt
/src/main/java/org/woehlke/simpleworklist/task/x.txt
/src/main/java/org/woehlke/simpleworklist/context/x.txt
/src/main/java/org/woehlke/java/simpleworklist/test/application/error/x.txt
/src/main/java/org/woehlke/simpleworklist/searchRequest/x.txt

/simpleworklist.diff
target
.idea
/x.txt
/transaction-logs/
