/target
/simpleworklist.iml
/.classpath
/.project
/.idea
/.settings
/SimpleWorklist.mdzip.bak
/mvn.log
/org.woehlke.simpleworklist.model.entities.Project
/org.woehlke.simpleworklist.model.entities.Task
/simpleworklist
/simpleworklistsearch
/simpleworklistsearch2
/pom.xml.releaseBackup
/release.properties
/etc/mavenlog.txt
/etc/mavenlog1.txt
/etc/mavenlog2.txt
/etc/mavenlog3.txt

