<!DOCTYPE html>
<html th:lang="${#locale.language}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:sd="http://www.thymeleaf.org/spring-data">
<head th:replace="layout/page :: tw-page-head(headtitle=~{::title},links=~{},refreshMessages=true)">
  <title th:text="'SimpleWorklist | ' + #{user.loginForm.h2}">Title</title>
</head>
<body th:replace="layout/page :: tw-page-body(twcontent=~{::mytwcontent}, twtitle=~{::mytwtitle},scripts=~{})">

<div th:fragment="mytwtitle">
  <div class="container-md">
  <div class="row my-md-4 py-md-5">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <h1><strong th:utext="#{user.loginForm.h1}">Welcome to SimpleWorklist</strong></h1>
      <h2><small th:utext="#{user.loginForm.h2}">Your Todo-List for Getting Things Done&reg;</small></h2>
    </div>
    <div class="col-md-3"></div>
  </div>
  </div>
</div>

<div th:fragment="mytwcontent">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <form id="user-login-form" th:action="@{/j_spring_security_check}" method="post">
        <div class="card my-md-5 my-3">
          <div class="card-header">
            <span th:utext="#{user.loginForm.login}" class="m-1 p-1">Please login</span>
          </div>
          <div class="card-body">
            <div class="invalid-feedback" role="alert" th:if="${param.login_error != null}">
              <span th:text="#{user.loginForm.loginError}">Your login attempt was not successful, try again.</span>
            </div>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <label for="j_username" th:text="#{user.loginForm.email.label}" class="form-label">Email</label>
            <div class="m-2 pe-3 input-group">
                <span class="input-group-text"><i class="fa-solid fa-user"></i></span>
                <input id="j_username" type="email" class="form-control" name="j_username"
                       th:placeholder="#{user.loginForm.email.placeholder}"/>
            </div>
            <label for="j_password" th:text="#{user.loginForm.password.label}" class="form-label">Password</label>
            <div class="m-2 pe-3 input-group">
                <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
                <input id="j_password" type="password" class="form-control" name="j_password"
                         th:placeholder="#{user.loginForm.password.placeholder}"/>
            </div>
          </div>
          <div class="card-footer">
            <span class="row">
                <span class="col-md-3 col-3 m-2 pe-2 align-middle text-left">
                    <button id="loginButton" type="submit" class="btn btn-block btn-primary align-middle text-left">
                      <i class="fas fa-sign-in-alt"></i>
                      <span th:utext="#{user.loginForm.loginButton}"></span>
                    </button>
                </span>
                <span class="col-md-4 col-4 m-2 pe-2 align-middle text-right align-self-center">
                    <a id="registerButton" th:href="@{/user/register/}"
                       class="btn btn-outline-secondary btn-sm align-middle text-right">
                      <i class="fas fa-user"></i><span th:utext="#{user.loginForm.register}"></span>
                    </a>
                </span>
                <span class="col-md-4 col-4 m-2 pe-2 align-middle text-right align-self-center">
                    <a id="passwordResetButton" th:href="@{/user/resetPassword}"
                       class="btn btn-outline-secondary btn-sm align-middle text-right align-self-center">
                      <i class="fas fa-question-circle"></i><span th:utext="#{user.loginForm.passwordReset}"></span>
                    </a>
                </span>
            </span>
          </div>
        </div>
      </form>
  </div>
  <div class="col-3"></div>
</div>
</div>

</body>
</html>
