<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="t/layout/page :: head">
</head>
<body th:replace="t/layout/page :: tw-page-body(~{::mytwcontent})">
<div th:fragment="mytwcontent">

    <div id="tw-content-title">
        <h1>
            <span class="glyphicon glyphicon-inbox" aria-hidden="true"></span>
            <span th:utext="#{tasks.inbox.h1}">Inbox</span>
        </h1>
        <div id="tw-content-title-actionbuttons">
            <a th:href="@{/task/addtoproject/0}"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                <span th:utext="#{tasks.inbox.addTask}">Add Task</span>
            </a>
        </div>
    </div>

    <div th:replace="t/layout/tasks :: tw-tasks-message(message=${message})">
    </div>

    <div class="alert alert-danger alert-dismissible" role="alert" th:if="${message != null}">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span th:text="${message}"></span>
    </div>

    <div th:if="${dataList.size() gt 0}">
        <div th:replace="t/layout/tasks :: tw-tasks-table(dataList=${dataList})">
        </div>
        <div th:replace="t/layout/tasks :: tw-tasks-pagination(currentIndex=${currentIndex},beginIndex=${beginIndex},endIndex=${endIndex},totalPages=${totalPages},url='tasks/inbox')">
        </div>
    </div>

    <div th:if="${dataList.size() eq 0}">
        <p><span th:text="#{tasks.inbox.noTasks}">You have no Tasks in Your Inbox</span></p>
    </div>

</div>
</body>
</html>