<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="t/layout/page :: head">
</head>
<body th:replace="t/layout/page :: tw-page-body(~{::mytwcontent})">
<div th:fragment="mytwcontent">

<div id="tw-content-title">
    <h1>
        <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span>
        <span th:utext="#{tasks.waiting.h1}">Waiting</span>
    </h1>
</div>

<div th:replace="t/layout/tasks :: tw-tasks-message(message=${message})">
</div>

<div th:if="${dataList.size() gt 0}">
    <div th:replace="t/layout/tasks :: tw-tasks-table(dataList=${dataList})">
    </div>
    <div th:replace="t/layout/tasks :: tw-tasks-pagination(currentIndex=${currentIndex},beginIndex=${beginIndex},endIndex=${endIndex},totalPages=${totalPages},url='tasks/waiting')">
    </div>
</div>

<div th:if="${dataList.size() eq 0}">
    <p><span th:text="#{tasks.waiting.noTasks}">You are not waiting for others</span></p>
</div>


</div>
</body>
</html>