<!DOCTYPE html>
<html th:lang="${#locale.language}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:sd="http://www.thymeleaf.org/spring-data">
<head th:replace="layout/page :: tw-page-head(headtitle=~{::title},links=~{},refreshMessages=false)">
    <title th:text="'SimpleWorklist | ' + #{user.selfservice.profile.changePassword}">Title</title>
</head>
<body th:replace="layout/page :: tw-page-body(twcontent=~{::mytwcontent},twtitle=~{::mytwtitle},scripts=~{})">

    <div th:fragment="mytwtitle">
        <h1>
            <i class="fas fa-edit"></i>
            <span th:utext="#{user.selfservice.profile.changePassword}">Change Password</span>
            <small>
                <span th:utext="#{user.selfservice.forUser}">for User:</span>
                <strong>
                    <span sec:authentication="name"></span>
                </strong>
            </small>
        </h1>
    </div>

    <div th:fragment="mytwcontent">
        <div>
            <form id="formId" th:action="@{/user/selfservice/password}" th:object="${userChangePasswordForm}" method="post">
                <div class="form-group form-control-lg">
                    <label th:for="${#ids.next('oldUserPassword')}" class="control-label">
                        <span th:utext="#{user.resetPasswordConfirmed.oldUserPassword}">Current Password</span>
                    </label>
                    <input type="password" th:field="*{oldUserPassword}" class="form-control" />
                    <div>
                        <div th:each="err : ${#fields.errors('oldUserPassword')}" th:text="${err}" class="alert alert-danger" />
                    </div>
                </div>
                <div class="form-group form-control-lg">
                    <label th:for="${#ids.next('userPassword')}" class="control-label">
                        <span th:utext="#{user.resetPasswordConfirmed.password}">Password</span>
                    </label>
                    <input type="password" th:field="*{userPassword}" class="form-control" />
                    <div>
                        <div th:each="err : ${#fields.errors('userPassword')}" th:text="${err}" class="alert alert-danger" />
                    </div>
                </div>
                <div class="form-group form-control-lg">
                    <label th:for="${#ids.next('userPasswordConfirmation')}" class="control-label">
                        <span th:utext="#{user.resetPasswordConfirmed.passwordAgain}">Password again</span>
                    </label>
                    <input type="password" th:field="*{userPasswordConfirmation}" class="form-control" />
                    <div>
                        <div th:each="err : ${#fields.errors('userPasswordConfirmation')}" th:text="${err}" class="alert alert-danger" />
                    </div>
                </div>
                <button id="saveNewPassword" type="submit" class="btn btn-primary">
                    <i class="fas fa-save"></i>
                    <span th:utext="#{user.resetPasswordConfirmed.button}">Save New Password</span>
                </button>
                <a th:href="@{/user/selfservice/profile}" class="btn btn-secondary" role="button">
                    <span th:utext="#{button.back}">back</span>
                </a>
            </form>
        </div>
    </div>

</body>
</html>
