<!DOCTYPE html>
<html th:lang="${#locale.language}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:sd="http://www.thymeleaf.org/spring-data">
<head th:replace="layout/page :: tw-page-head(headtitle=~{::title},links=~{},refreshMessages=false)">
    <title th:text="'SimpleWorklist | ' + #{user.selfservice.profile.h1}">Title</title>
</head>
<body th:replace="layout/page :: tw-page-body(twcontent=~{::mytwcontent},twtitle=~{::mytwtitle},scripts=~{})">

    <div th:fragment="mytwtitle">
      <div class="row my-3 py-3 col">
        <h1>
            <i class="fas fa-user"></i> &nbsp;
            <strong th:utext="#{user.selfservice.profile.h1}">User Profile</strong>
        </h1>
        <h2>
          <small><span sec:authentication="name"></span></small>
        </h2>
      </div>
    </div>

    <div th:fragment="mytwcontent">
        <div th:if="${users != null}">
            <h5>
                <span th:text="#{pages.users.h1}">List of registered Users</span>
            </h5>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            <span th:utext="#{pages.users.messages}">Messages</span>
                        </th>
                        <th>Name</th>
                        <th>
                            <span th:utext="#{pages.users.lastLogin}">Last Login</span>
                        </th>
                        <th>
                            <span th:utext="#{pages.users.dateOfRegistration}">Date of registration</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user : ${users}">
                        <td>
                            <span th:if="${user.id != thisUser.id}">
                                <a th:href="@{/user2user/{id}/messages/(id=${user.id})}">
                                    <i class="fas fa-envelope"></i>
                                    <span th:utext="#{pages.users.messages}">Messages</span>
                                    <span class="badge badge-pill badge-dark" th:if="${usersToNewMessages.get(user.id) gt 0}">
                                        <span th:text="${usersToNewMessages.get(user.id)}">Messages</span>
                                    </span>
                                </a>
                            </span>
                        </td>
                        <td>
                            <span th:text="${user.userFullname}">user.userFullname</span>
                        </td>
                        <td>
                            <span th:text="${user.lastLoginTimestamp}"></span>
                        </td>
                        <td>
                            <span th:text="${user.rowCreatedAt}"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card card-body">
          <h5 class="card-title">
            <span th:utext="#{user.selfservice.profile.userEmail}">User Email:</span>
            <strong>
              <span sec:authentication="name"></span>
            </strong>
          </h5>
            <ul>
                <li>
                    <i class="fas fa-edit"></i>
                    <span th:utext="#{user.selfservice.profile.name}">Name:</span>
                    <a th:href="@{/user/selfservice/name}">
                        <span th:text="${thisUser.userFullname}">thisUser.userFullname</span>
                    </a>
                </li>
                <li>
                    <i class="fas fa-edit"></i>
                    <a th:href="@{/user/selfservice/password}">
                        <span th:utext="#{user.selfservice.profile.changePassword}">Change Password</span>
                    </a>
                </li>
                <li>
                    <i class="fas fa-edit"></i>
                    <a th:href="@{/user/selfservice/contexts}">
                        <span th:utext="#{user.selfservice.profile.changeContexts}">Change Areas</span>
                    </a>
                </li>
                <li>
                    <i class="fas fa-edit"></i>
                    <a th:href="@{/user/selfservice/language}">
                        <span th:utext="#{user.selfservice.profile.changeLanguage}">Set Default Language</span>
                    </a>
                </li>
                <li>
                    <i class="fas fa-list-alt"></i>
                    <a th:href="@{/testdata/createTree}">
                        <span th:text="#{layout.page.createTestData}">Create Test Data</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>
