<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <section th:fragment="breadcrumb(breadcrumb)">
        <div class="container" sec:authorize="isAuthenticated()" th:if="${breadcrumb != null}">
            <ol class="breadcrumb" th:if="${breadcrumb.size() > 1}">
                <li><a th:href="@{/project/0/page/1}">Home</a></li>
                <li th:each="bc,iterStat : ${breadcrumb}" th:class="${iterStat == breadcrumb.size()-1 ? 'active' : ''}">
                    <span th:if="${iterStat == breadcrumb.size()-1}" th:text="${bc.name}"></span>
                    <a th:if="${iterStat != breadcrumb.size()-1}" th:href="@{/project/{bcId}(bcId=${bc.id})}">
                        <span th:text="${bc.name}"></span>
                    </a>
                </li>
            </ol>
            <ol class="breadcrumb" th:if="${breadcrumb.size() < 2}">
                <li class="active">Home</li>
            </ol>
        </div>
    </section>

</html>