<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:sd="http://www.thymeleaf.org/spring-data">

    <div th:fragment="breadcrumb(breadcrumb)">
      <section class="container" sec:authorize="isAuthenticated()" th:if="${breadcrumb != null}">

            <nav aria-label="breadcrumb" class="m-1 mb-1 p-2">
                <ol class="breadcrumb">
                    <li th:each="bc,iterStat : ${breadcrumb.getBreadcrumb()}"
                        th:class="${iterStat == breadcrumb.size()-1 ? 'breadcrumb-item active' : 'breadcrumb-item'}">
                        <span th:if="${iterStat == breadcrumb.size()-1}" th:text="${bc.name}"></span>
                        <a th:if="${iterStat != breadcrumb.size()-1}"
                           th:href="@{{url}(url=${bc.url})}"
                           th:text="${bc.name}">
                        </a>
                    </li>
                </ol>
            </nav>
        </section>
    </div>

</html>
