<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:sd="http://www.thymeleaf.org/spring-data">

    <div th:fragment="navbartop(contexts,locale,thisProject,numberOfNewIncomingMessages,ctx)" >
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" th:href="@{/}"><i class="fas fa-list-alt"></i> SimpleWorklist</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mynavbar" aria-controls="mynavbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="mynavbar">
                    <ul class="navbar-nav mr-auto" sec:authorize="isAuthenticated()">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="contextMenu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-cloud"></i>
                                <span th:text="#{layout.page.contexts}">"Context</span> ( <span th:text="${context}"/> )
                                <span class="caret"></span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="contextMenu">
                                <a class="dropdown-item" th:href="@{/context/choose/{id}(id=${context.id})}" th:each="context : ${contexts}">
                                    <span th:if="${locale eq 'de'}" th:text="${context.nameDe}"></span>
                                    <span th:if="${locale ne 'de'}" th:text="${context.nameEn}"></span>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" th:href="@{/context/choose/0}">
                                    <span th:if="${locale eq 'de'}">Alle</span>
                                    <span th:if="${locale ne 'de'}">All</span>
                                </a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/user/selfservice/profile}">
                                <i class="fas fa-user"></i>
                                <span th:text="#{layout.page.showUsers}">User</span>
                                ( <span sec:authentication="name"></span> )
                                <span class="badge badge-pill badge-light" th:if="${numberOfNewIncomingMessages gt 0}" th:text="${numberOfNewIncomingMessages}">numberOfNewIncomingMessages</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/logout}"><i class="fas fa-sign-out-alt"></i> <span th:text="#{layout.page.logout}">Logout</span></a>
                        </li>
                    </ul>
                    <ul class="navbar-nav mr-auto" sec:authorize="isAnonymous()">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/register}"><i class="fas fa-user"></i> <span th:text="#{layout.page.register}">Register as New User</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/login}"><i class="fas fa-sign-in-alt"></i> <span th:text="#{layout.page.login}">Login</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/resetPassword}"><i class="fas fa-question-circle"></i> <span th:text="#{layout.page.passwordForgotten}">Password forgotten?</span></a>
                        </li>
                    </ul>
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="languageMenu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-globe"></i><b class="caret"></b>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="contextMenu">
                                <a th:href="@{{url}(lang='de',url=${#request.getRequestURL()})}" class="dropdown-item lang-switcher-de" >
                                    <img class="lang-switcher-img" th:src="@{/img/de.png}"/>deutsch
                                </a>
                                <a th:href="@{{url}(lang='en',url=${#request.getRequestURL()})}" class="dropdown-item lang-switcher-en">
                                    <img class="lang-switcher-img" th:src="@{/img/gb.png}"/>english
                                </a>
                            </div>
                        </li>
                    </ul>
                    <form th:action="@{/search}" class="form-inline my-2 my-lg-0" role="search" method="get" sec:authorize="isAuthenticated()">
                        <input class="form-control mr-sm-2" type="search" name="searchterm" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
                    </form>
                </div>
            </div>
        </nav>
    </div>

</html>