<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:sd="http://www.thymeleaf.org/spring-data">

    <div th:fragment="navcolleft(rootCategories,thisProject)">
        <div id="categoryNavigationWell" class="well sidebar-nav" sec:authorize="isAuthenticated()">
            <ul id="rootProject" class="nav nav-list">
                <li><a id="focus_inbox" th:href="@{/taskstate/inbox}"><i class="fas fa-inbox"></i> <span th:text="#{layout.page.inbox}">Inbox</span></a></li>
                <li><a id="focus_today" th:href="@{/taskstate/today}"><i class="fas fa-clock"></i> <span th:text="#{layout.page.today}">Today</span></a></li>
                <li><a id="focus_next" th:href="@{/taskstate/next}"><i class="fas fa-cogs"></i> <span th:text="#{layout.page.next}">Next</span></a></li>
                <li><a id="focus_waiting" th:href="@{/taskstate/waiting}"><i class="fas fa-hourglass-half"></i> <span th:text="#{layout.page.waiting}">Waiting</span></a></li>
                <li><a id="focus_scheduled" th:href="@{/taskstate/scheduled}"><i class="fas fa-calendar-alt"></i> <span th:text="#{layout.page.scheduled}">Scheduled</span></a></li>
                <li><a id="focus_someday" th:href="@{/taskstate/someday}"><i class="fas fa-road"></i> <span th:text="#{layout.page.someday}">Someday</span></a></li>
                <li><a id="star" th:href="@{/taskstate/focus}"><i class="fas fa-star"></i> <span th:text="#{layout.page.focus}">Focus</span></a></li>
                <li><a id="focus_completed" th:href="@{/taskstate/completed}"><i class="fas fa-check-square"></i> <span th:text="#{layout.page.completed}">Completed Tasks</span></a></li>
                <li><a id="focus_trash" th:href="@{/taskstate/trash}"><i class="fas fa-trash-alt"></i> <span th:text="#{layout.page.trash}">Trash</span></a></li>
                <li th:replace="this :: tw-project-menu-container(rootCategories=${rootCategories},thisProject=${thisProject})"></li>
            </ul>
        </div>
    </div>

    <li th:fragment="tw-project-menu-container(rootCategories,thisProject)">
        <ul id="menu" class="nav nav-list">
            <li>
                <span id="categoryNode_0" class="categoryNode" th:if="${thisProject == null or thisProject.id != 0}">
                    <i class="fas fa-folder-open"></i>
                    <strong><span th:text="#{right.nav.projects}">Projects</span></strong>
                </span>
                <span id="categoryNode_0" class="categoryNode" th:if="${thisProject != null and thisProject.id == 0}">
                    <a th:href="@{/project/0}">
                        <i class="fas fa-folder-open"></i>
                        <span th:text="#{right.nav.projects}">Projects</span>
                    </a>
                </span>
                <ul class="nav nav-list" th:if="${rootCategories != null and rootCategories.size() gt 0}">
                    <li th:include="this :: tw-project-submenu(categories=${rootCategories},thisProject=${thisProject})"></li>
                </ul>
            </li>
        </ul>
    </li>

    <ul class="nav nav-list" th:fragment="tw-project-submenu(categories, thisProject)">
        <li th:each="project : ${categories}" th:class="${project == thisProject ? 'active' : ''}">
            <!-- http://jqueryui.com/droppable/ -->
            <span th:id="'category_' + ${project.id}" th:if="${project == thisProject}">
                <strong>
                    <span th:id="'categoryNode_' + ${project.id}" class="categoryNode" th:text="${project.name}">
                    </span>
                </strong>
            </span>
            <span th:id="'category_' + ${project.id}" class="categoryNode" th:if="${project != thisProject}">
                <a th:href="@{/project/{id}(id=${project.id})}">
                    <span th:text="${project.name}"></span>
                </a>
            </span>
            <ul class="nav nav-list" th:if="${project.children.size() gt 0}">
                <li th:include="this :: tw-project-submenu(categories=${project.children},thisProject=${thisProject})"></li>
            </ul>
        </li>
    </ul>

</html>