<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:sd="http://www.thymeleaf.org/spring-data">

    <section th:fragment="navigation-taskstates(rootCategories,thisProject)">
        <div class="container" id="categoryNavigationWell" sec:authorize="isAuthenticated()">
            <ul id="taskStateMenu" class="nav nav-tabs">
                <li class="nav-item">
                    <a id="taskstate_inbox" th:href="@{/taskstate/inbox}" th:class="${taskstateType == null or taskstateType == 'inbox' ? 'nav-link active' : 'nav-link'}">
                        <i class="fas fa-inbox"></i>
                        <span th:text="#{layout.page.inbox}">Inbox</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a id="taskstate_today" th:href="@{/taskstate/today}" th:class="${taskstateType == 'today' ? 'nav-link active' : 'nav-link'}">
                        <i class="fas fa-clock"></i>
                        <span th:text="#{layout.page.today}">Today</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a id="taskstate_next" th:href="@{/taskstate/next}" th:class="${taskstateType == 'next' ? 'nav-link active' : 'nav-link'}">
                        <i class="fas fa-cogs"></i>
                        <span th:text="#{layout.page.next}">Next</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a id="taskstate_waiting" th:href="@{/taskstate/waiting}" th:class="${taskstateType == 'waiting' ? 'nav-link active' : 'nav-link'}">
                        <i class="fas fa-hourglass-half"></i>
                        <span th:text="#{layout.page.waiting}">Waiting</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a id="taskstate_scheduled" th:href="@{/taskstate/scheduled}" th:class="${taskstateType == 'scheduled' ? 'nav-link active' : 'nav-link'}">
                        <i class="fas fa-calendar-alt"></i>
                        <span th:text="#{layout.page.scheduled}">Scheduled</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a id="taskstate_someday" th:href="@{/taskstate/someday}" th:class="${taskstateType == 'someday' ? 'nav-link active' : 'nav-link'}">
                        <i class="fas fa-road"></i>
                        <span th:text="#{layout.page.someday}">Someday</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a id="taskstate_focus" th:href="@{/taskstate/focus}" th:class="${taskstateType == 'focus' ? 'nav-link active' : 'nav-link'}">
                        <i class="fas fa-star"></i>
                        <span th:text="#{layout.page.focus}">Focus</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a id="taskstate_completed" th:href="@{/taskstate/completed}" th:class="${taskstateType == 'completed' ? 'nav-link active' : 'nav-link'}">
                        <i class="fas fa-check-square"></i>
                        <span th:text="#{layout.page.completed}">Completed Tasks</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a id="taskstate_trash" th:href="@{/taskstate/trash}" th:class="${taskstateType == 'trash' ? 'nav-link active' : 'nav-link'}">
                        <i class="fas fa-trash-alt"></i>
                        <span th:text="#{layout.page.trash}">Trash</span>
                    </a>
                </li>
            </ul>
        </div>
    </section>

    <section th:fragment="navigation-projects(rootCategories,thisProject)">
        <div class="container" id="projectNavigationWell" sec:authorize="isAuthenticated()">
            <hr/>
            <nav>
                <ul id="rootProject">
                    <li>
                        <span th:if="${thisProject == null or thisProject.id != 0}">
                            <span id="project_0" class="projectDraggable projectDroppable">
                                <i class="fas fa-folder-open"></i>
                                <strong th:text="#{right.nav.projects}">Projects</strong>
                            </span>
                        </span>
                        <span th:if="${thisProject != null and thisProject.id == 0}">
                                <a th:href="@{/project/0}" id="project_0" class="projectDraggable projectDroppable">
                                    <i class="fas fa-folder-open"></i>
                                    <span th:text="#{right.nav.projects}">Projects</span>
                                </a>
                        </span>
                        <span th:if="${rootCategories != null and rootCategories.size() gt 0}">
                            <ul th:include="this :: tw-project-submenu(projectList=${rootCategories},thisProject=${thisProject})"></ul>
                        </span>
                    </li>
                </ul>
            </nav>
        </div>
    </section>

    <ul th:fragment="tw-project-submenu(projectList, thisProject)">
        <li th:each="project : ${projectList}">
            <span th:if="${project == thisProject}">
                <strong th:text="${project.name}" th:id="'project_' + ${project.id}" class="projectDraggable projectDroppable"></strong>
            </span>
            <span th:if="${project != thisProject}">
                <a th:href="@{/project/{id}(id=${project.id})}" th:id="'project_' + ${project.id}" th:text="${project.name}" class="projectDraggable projectDroppable">
                </a>
            </span>
            <span th:if="${project.children.size() gt 0}">
                <ul th:include="this :: tw-project-submenu(projectList=${project.children},thisProject=${thisProject})"></ul>
            </span>
        </li>
    </ul>

</html>