<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  xmlns:sd="http://www.thymeleaf.org/spring-data">
<head th:fragment="tw-page-head(headtitle,links,refreshMessages)">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta http-equiv="refresh" content="25" th:if="${refreshMessages}">
	<meta name="author" content="Thomas Woehlke">
	<meta name="description" content="Your Todo-List for Getting Things Done.">
	<title th:replace="${headtitle}">SimpleWorklist</title>
	<link th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}" rel="stylesheet"/>
	<link th:href="@{/webjars/font-awesome/5.13.0/css/all.min.css}" rel="stylesheet"/>
	<link href="https://fonts.googleapis.com/css?family=Lato|Varela+Round" rel="stylesheet">
	<link th:href="@{/css/main.css}" rel="stylesheet"/>
	<!--/* Per-page placeholder for additional links */-->
	<th:block th:replace="${links}" />
</head>
<body th:fragment="tw-page-body(twcontent,twtitle,scripts)">

	<!-- Navbar on Top -->
	<header>
		<div th:replace="layout/navbartop :: navbartop(contexts=${contexts},locale=${locale},thisProject=${thisProject},numberOfNewIncomingMessages=${numberOfNewIncomingMessages},ctx=${ctx})" >
		</div>
		<div class="jumbotron" id="tw-title-section">
			<div class="container">
				<th:block th:replace="${twtitle}" />
			</div>
		</div>
	</header>

	<section th:replace="layout/taskstates :: navigation-taskstates(rootCategories=${rootCategories},thisProject=${thisProject})">
	</section>

	<!-- Breadcrumb -->
	<section th:replace="layout/breadcrumb :: breadcrumb(breadcrumb=${breadcrumb})">
	</section>

	<!-- Menu on Left Column and Document Window on the Right Column -->
	<section id="tw-main-section">
		<div class="container" sec:authorize="isAnonymous()">
			<div class="row">
				<div class="col">
					<th:block th:replace="${twcontent}" />
				</div>
			</div>
		</div>
		<div class="container" sec:authorize="isAuthenticated()">
			<div class="row">
				<div class="col-md-8">
					<th:block th:replace="${twcontent}" />
				</div>
				<div class="col-md-4">
					<div th:replace="layout/projects :: navigation-projects(rootCategories=${rootCategories},thisProject=${thisProject})">
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Footer -->
	<footer class="footer">
		<nav class="navbar fixed-bottom navbar-dark bg-dark">
			<div class="container">
				<span class="navbar-text">© 2019 Thomas Wöhlke</span>
			</div>
		</nav>
	</footer>
	<script th:src="@{/js/google-analytics.js}"></script>
	<script th:src="@{/webjars/jquery/3.4.1/jquery.slim.min.js}"></script>
	<script th:src="@{/webjars/popper.js/1.14.3/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
	<script th:src="@{/webjars/font-awesome/5.13.0/js/all.min.js}"></script>
	<!--/* Per-page placeholder for additional links */-->
	<th:block th:replace="${scripts}" />

	<script th:inline="javascript">
		function allowDropOfTask(ev) {
			ev.preventDefault();
		}

		function dragTask(ev) {
			ev.dataTransfer.setData("task", ev.target.id);
		}

		function drop2inbox(ev) {
			ev.preventDefault();
			var taskId = ev.dataTransfer.getData("task").split("_")[1];
			var myUrl = '[(@{/taskstate/task/})]'+taskId+'/move/to/taskstate/inbox';
			window.location.replace(myUrl);
		}

		function drop2today(ev) {
			ev.preventDefault();
			var taskId = ev.dataTransfer.getData("task").split("_")[1];
			var myUrl = '[(@{/taskstate/task/})]'+taskId+'/move/to/taskstate/today';
			window.location.replace(myUrl);
		}

		function drop2next(ev) {
			ev.preventDefault();
			var taskId = ev.dataTransfer.getData("task").split("_")[1];
			var myUrl = '[(@{/taskstate/task/})]'+taskId+'/move/to/taskstate/next';
			window.location.replace(myUrl);
		}

		function drop2waiting(ev) {
			ev.preventDefault();
			var taskId = ev.dataTransfer.getData("task").split("_")[1];
			var myUrl = '[(@{/taskstate/task/})]'+taskId+'/move/to/taskstate/waiting';
			window.location.replace(myUrl);
		}

		function drop2someday(ev) {
			ev.preventDefault();
			var taskId = ev.dataTransfer.getData("task").split("_")[1];
			var myUrl = '[(@{/taskstate/task/})]'+taskId+'/move/to/taskstate/someday';
			window.location.replace(myUrl);
		}

		function drop2focus(ev) {
			ev.preventDefault();
			var taskId = ev.dataTransfer.getData("task").split("_")[1];
			var myUrl = '[(@{/taskstate/task/})]'+taskId+'/move/to/taskstate/focus';
			window.location.replace(myUrl);
		}

		function drop2completed(ev) {
			ev.preventDefault();
			var taskId = ev.dataTransfer.getData("task").split("_")[1];
			var myUrl = '[(@{/taskstate/task/})]'+taskId+'/move/to/completed';
			window.location.replace(myUrl);
		}

		function drop2trash(ev) {
			ev.preventDefault();
			var taskId = ev.dataTransfer.getData("task").split("_")[1];
			var myUrl = '[(@{/taskstate/task/})]'+taskId+'/move/to/taskstate/trash';
			window.location.replace(myUrl);
		}

		function drop2project(ev) {
			ev.preventDefault();
			var srcType = ev.dataTransfer.getData("task").split("_")[0];
			var srcId = ev.dataTransfer.getData("task").split("_")[1];
			var targetProjectIdInfo = ev.target.id;
			var targetProjectId = targetProjectIdInfo.split("_")[1];
			if(srcType == 'task') {
				var myUrl = '[(@{/taskstate/task/move/})]' + srcId + '/to/project/' + targetProjectId;
				window.location.replace(myUrl);
			} else if(srcType == 'project') {
				var myUrl = '[(@{/project/})]' + srcId + '/project/move/to/project/' + targetProjectId;
				window.location.replace(myUrl);
			}
		}

		function dropTask2Task(ev) {
			ev.preventDefault();
			var myUrl = '';
			var requestPath = '[(@{{url}(url=${#request.getRequestURI()})})]';
			var requestPathFirst = requestPath.split("/")[1];
			var srcType = ev.dataTransfer.getData("task").split("_")[0];
			var sourceTaskId = ev.dataTransfer.getData("task").split("_")[1];
			var destinationTaskIdInfo = ev.target.id;
			var destinationTaskId = destinationTaskIdInfo.split("_")[1];
			if(srcType === 'task') {
				if(requestPathFirst === 'taskstate'){
					myUrl = '[(@{/taskstate/})]' + sourceTaskId + '/changeorderto/' + destinationTaskId;
					window.location.replace(myUrl);
				} else if(requestPathFirst === 'project'){
					myUrl = '[(@{/project/task/})]' + sourceTaskId + '/changeorderto/' + destinationTaskId;
					window.location.replace(myUrl);
				}
			}
		}

		function allowDrop2Project(ev){
			ev.preventDefault();
		}

		function dragProject(ev) {
			ev.dataTransfer.setData("task", ev.target.id);
		}

		$(document).ready( function() {
			$('.twtooltip').tooltip();
		});
	</script>
</body>
</html>
