<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  xmlns:sd="http://www.thymeleaf.org/spring-data">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta http-equiv="refresh" content="25" th:if="${refreshMessages}">
	<title>SimpleWorklist</title>
	<link th:href="@{/webjars/jquery-ui/1.11.4/jquery-ui.min.css}" rel="stylesheet"/>
	<link th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet"/>
	<link th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap-theme.min.css}" rel="stylesheet"/>
	<link th:href="@{/webjars/font-awesome/5.8.1/css/all.min.css}" rel="stylesheet"/>
	<link th:href="@{/css/main.css}" rel="stylesheet"/>
</head>
<body th:fragment="tw-page-body(twcontent)">

	<!-- Navbar on Top -->
	<header th:replace="layout/navbartop :: navbartop(contexts=${contexts},locale=${locale},thisProject=${thisProject},numberOfNewIncomingMessages=${numberOfNewIncomingMessages},ctx=${ctx})" >
	</header>

	<!-- Breadcrumb -->
	<section th:replace="layout/breadcrumb :: breadcrumb(breadcrumb=${breadcrumb})">
	</section>

	<!-- Menu on Left Column and Document Window on the Right Column -->
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<!-- Menu on Left Column -->
					<div th:replace="layout/navcolleft :: navcolleft(rootCategories=${rootCategories},thisProject=${thisProject})">
					</div>
				</div>
				<div class="col-md-9">
					<!-- Menu on Left Column and Document Window on the Right Column -->
					<th:block th:replace="${twcontent}" />
				</div>
			</div>
		</div>
	</section>

	<!-- Footer -->
	<footer class="footer">
		<div class="container">
			<p class="text-muted">&copy; 2016-2019 Thomas W&ouml;hlke</p>
		</div>
	</footer>
	<script th:src="@{/js/google-analytics.js}"></script>
	<script th:src="@{/webjars/jquery/1.11.3/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
	<script th:src="@{/webjars/jquery-ui/1.11.4/jquery-ui.min.js}"></script>
	<script th:src="@{/webjars/font-awesome/5.8.1/all.min.js}"></script>
	<script th:inline="javascript">
		$(window).load( function() {
			$( ".dataDetailListTitle").draggable({ cursor: "crosshair", revert: "invalid"  });
			$( ".categoryNode" ).draggable({ cursor: "crosshair", revert: "invalid"  });
			$( ".categoryNode" ).droppable({
				drop: function( event, ui ) {
					var selfId = ("" + $( this ).attr("id")).split("_")[1];
					var draggableId = "" +ui.draggable.attr("id").split("_")[1];
					var draggableType = ""+ui.draggable.attr("id").split("_")[0];
					var rootUrl = "";
					if(draggableType == "dataDetail" || draggableType == "dataDetailProject"){
						rootUrl += '[(@{/task})]';
					} else {
						rootUrl += '[(@{/project})]';
					}
					//var html4move = '<a href="'+rootUrl+'/'+draggableId+'/moveto/'+selfId+'">move</a>';
					//$( this ).html(html4move);
					var html4move = rootUrl+'/'+draggableId+'/moveto/'+selfId;
					window.location.replace(html4move);
				}
			});
			$( ".dataDetailListTitle" ).droppable({
				drop: function( event, ui ) {
					var selfId = ("" + $( this ).attr("id")).split("_")[1];
					var draggableId = "" +ui.draggable.attr("id").split("_")[1];
					var draggableType = ""+ui.draggable.attr("id").split("_")[0];
					var rootUrl = "";
					if(draggableType == "dataDetail") {
						rootUrl = '[(@{/task})]';
					} else if(draggableType == "dataDetailProject") {
						rootUrl = '[(@{/project/task})]';
					}
					var html4move = rootUrl + '/' + draggableId + '/changeorderto/' + selfId;
					window.location.replace(html4move);
				}
			});
			$("#focus_inbox").droppable({
				drop: function( event, ui ) {
					var selfId = ("" + $( this ).attr("id")).split("_")[1];
					var draggableId = "" +ui.draggable.attr("id").split("_")[1];
					var draggableType = ""+ui.draggable.attr("id").split("_")[0];
					var rootUrl = "";
					if(draggableType == "dataDetail" || draggableType == "dataDetailProject"){
						var html4move = '/tasks/move/'+draggableId+'/to/inbox';
						window.location.replace(html4move);
					}
				}
			});
			$("#focus_today").droppable({
				drop: function( event, ui ) {
					var selfId = ("" + $( this ).attr("id")).split("_")[1];
					var draggableId = "" +ui.draggable.attr("id").split("_")[1];
					var draggableType = ""+ui.draggable.attr("id").split("_")[0];
					var rootUrl = "";
					if(draggableType == "dataDetail" || draggableType == "dataDetailProject"){
						var html4move = '/tasks/move/'+draggableId+'/to/today';
						window.location.replace(html4move);
					}
				}
			});
			$("#focus_next").droppable({
				drop: function( event, ui ) {
					var selfId = ("" + $( this ).attr("id")).split("_")[1];
					var draggableId = "" +ui.draggable.attr("id").split("_")[1];
					var draggableType = ""+ui.draggable.attr("id").split("_")[0];
					var rootUrl = "";
					if(draggableType == "dataDetail" || draggableType == "dataDetailProject"){
						var html4move = '/tasks/move/'+draggableId+'/to/next';
						window.location.replace(html4move);
					}
				}
			});
			$("#focus_waiting").droppable({
				drop: function( event, ui ) {
					var selfId = ("" + $( this ).attr("id")).split("_")[1];
					var draggableId = "" +ui.draggable.attr("id").split("_")[1];
					var draggableType = ""+ui.draggable.attr("id").split("_")[0];
					var rootUrl = "";
					if(draggableType == "dataDetail" || draggableType == "dataDetailProject"){
						var html4move = '/tasks/move/'+draggableId+'/to/waiting';
						window.location.replace(html4move);
					}
				}
			});
			$("#focus_someday").droppable({
				drop: function( event, ui ) {
					var selfId = ("" + $( this ).attr("id")).split("_")[1];
					var draggableId = "" +ui.draggable.attr("id").split("_")[1];
					var draggableType = ""+ui.draggable.attr("id").split("_")[0];
					var rootUrl = "";
					if(draggableType == "dataDetail" || draggableType == "dataDetailProject"){
						var html4move = '/tasks/move/'+draggableId+'/to/someday';
						window.location.replace(html4move);
					}
				}
			});
			$("#focus_completed").droppable({
				drop: function( event, ui ) {
					var selfId = ("" + $( this ).attr("id")).split("_")[1];
					var draggableId = "" +ui.draggable.attr("id").split("_")[1];
					var draggableType = ""+ui.draggable.attr("id").split("_")[0];
					var rootUrl = "";
					if(draggableType == "dataDetail" || draggableType == "dataDetailProject"){
						var html4move = '/tasks/move/'+draggableId+'/to/completed';
						window.location.replace(html4move);
					}
				}
			});
			$("#focus_trash").droppable({
				drop: function( event, ui ) {
					var selfId = ("" + $( this ).attr("id")).split("_")[1];
					var draggableId = "" +ui.draggable.attr("id").split("_")[1];
					var draggableType = ""+ui.draggable.attr("id").split("_")[0];
					var rootUrl = "";
					if(draggableType == "dataDetail" || draggableType == "dataDetailProject"){
						var html4move = '/tasks/move/'+draggableId+'/to/trash';
						window.location.replace(html4move);
					}
				}
			});
			$("#taskDueDate ").datepicker({
				dateFormat: 'mm/dd/yy',
				constrainInput: false
			});
		});
	</script>
</body>
</html>
