<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:sd="http://www.thymeleaf.org/spring-data">

    <section th:fragment="navigation-projects(rootProjects,thisProject)">
        <div class="border-top" id="projectNavigationWell" sec:authorize="isAuthenticated()">
            <div class="row col" id="tw-project-submenu-col">
            <nav>
                <ul id="rootProject">
                    <li>
                        <span id="tw-project-submenu-root">
                            <i class="fas fa-folder-open"></i>
                            <a th:href="@{/project/root}" id="project_0"
                               ondrop="drop2project(event)" ondragover="allowDrop2Project(event)"
                               th:text="#{right.nav.projects}">
                                Projects
                            </a>
                        </span>
                        <span th:if="${rootProjects != null and rootProjects.size() gt 0}">
                            <ul th:include="this :: tw-project-submenu(projectList=${rootProjects},thisProject=${thisProject})"></ul>
                        </span>
                    </li>
                </ul>
            </nav>
            </div>
        </div>
    </section>

    <ul th:fragment="tw-project-submenu(projectList, thisProject)">
        <li th:each="project : ${projectList}">
            <span th:if="${project == thisProject}">
                <strong th:id="'project_' + ${project.id}"
                        th:text="${project.name}"
                        ondrop="drop2project(event)" ondragover="allowDrop2Project(event)"
                        draggable="true" ondragstart="dragProject(event)">
                </strong>
            </span>
            <span th:if="${project != thisProject}">
                <a th:id="'project_' + ${project.id}"
                   th:text="${project.name}"
                   th:href="@{/project/{id}(id=${project.id})}"
                   ondrop="drop2project(event)" ondragover="allowDrop2Project(event)"
                   draggable="true" ondragstart="dragProject(event)">
                </a>
            </span>
            <span th:if="${project.children.size() gt 0}">
                <ul th:include="this :: tw-project-submenu(projectList=${project.children},thisProject=${thisProject})"></ul>
            </span>
        </li>
    </ul>

</html>
