<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:sd="http://www.thymeleaf.org/spring-data">

    <div th:fragment="tw-tasks-message(message)">
        <div class="alert alert-danger alert-dismissible" role="alert" th:if="${message != null}">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span th:text="${message}"></span>
        </div>
    </div>

    <!-- TODO #36 -->
    <div th:fragment="tw-tasks-table(taskPage,myTaskState)">
        <div class="container">
        <div class="row">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>
                        <span th:text="#{tasks.inbox.title}">Title</span>
                    </th>
                    <th th:if="${myTaskState eq 'SCHEDULED' or myTaskState eq 'TODAY' or myTaskState eq 'PROJECT'}">
                        <span th:text="#{tasks.focus.dueDate}">Due Date</span>
                    </th>
                    <th th:if="${myTaskState eq 'FOCUS' or myTaskState eq 'ALL' or myTaskState eq 'PROJECT'}">
                        <span th:text="#{tasks.focus.taskState}">Task State</span>
                    </th>
                    <th th:if="${myTaskState ne 'PROJECT'}">
                        <span th:text="#{tasks.inbox.project}">Project</span>
                    </th>
                    <th>&nbsp;</th>
                    <th th:if="${myTaskState eq 'ALL'}">
                        <span th:text="#{tasks.all.context}">Context</span>
                    </th>
                </tr>
            </thead>
            <tbody>
            <tr th:id="'task_' + ${task.id}" th:each="task : ${taskPage}" draggable="true" ondragstart="dragTask(event)">
                <td>
                    <a alt="complete" th:href="@{/task/complete/{id}(id=${task.id})}" th:if="${task.taskState.name() ne 'COMPLETED' and task.taskState.name() ne 'TRASHED'}">
                        <i class="far fa-square"></i>
                    </a>
                    <a alt="complete" th:href="@{/task/incomplete/{id}(id=${task.id})}" th:if="${task.taskState.name() eq 'COMPLETED'}">
                        <i class="fas fa-check-square"></i>
                    </a>
                    <i class="far fa-check-square" th:if="${task.taskState.name() eq 'TRASHED'}"></i>&nbsp;&nbsp;
                    <a th:if="${task.focus}" alt="focus" th:href="@{/task/unsetfocus/{id}(id=${task.id})}">
                        <i class="fas fa-star"></i>
                    </a>
                    <a th:if="${not task.focus}" alt="focus" th:href="@{/task/setfocus/{id}(id=${task.id})}">
                        <i class="far fa-star"></i>
                    </a>
                </td>
                <td>
                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#taskModalScrollable" th:text="${task.title}">
                    Launch Task Modal
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="taskModalScrollable" tabindex="-1" role="dialog" aria-labelledby="taskModalScrollableTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="taskModalScrollableTitle">
                                        <a alt="not completed" th:href="@{/task/complete/{id}(id=${task.id})}" th:if="${task.taskState.name() ne 'COMPLETED' and task.taskState.name() ne 'TRASHED'}">
                                            <i class="far fa-square"></i>
                                        </a>
                                        <a alt="completed" th:href="@{/task/incomplete/{id}(id=${task.id})}" th:if="${task.taskState.name() eq 'COMPLETED'}">
                                            <i class="fas fa-check-square"></i>
                                        </a>
                                        <i class="fas fa-trash-alt" th:if="${task.taskState.name() eq 'TRASHED'}"></i>&nbsp;&nbsp;
                                        <a alt="focus" th:if="${task.focus}"th:href="@{/task/unsetfocus/{id}(id=${task.id})}">
                                            <i class="fas fa-star"></i>
                                        </a>
                                        <a th:if="${not task.focus}" alt="focus" th:href="@{/task/setfocus/{id}(id=${task.id})}">
                                            <i class="far fa-star"></i>
                                        </a>
                                        <span th:text="${task.title}">Modal title</span>
                                        <span class="badge badge-pill badge-dark" th:text="${#messages.msgOrNull(task.taskEnergy.code)}" th:if="${task.taskEnergy.value ne 'NONE'}"></span>
                                        <span class="badge badge-pill badge-dark" th:text="${#messages.msgOrNull(task.taskTime.code)}" th:if="${task.taskTime.value ne 'NONE'}"></span>
                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div th:utext="${task.text}"></div>
                                    <div th:if="${myTaskState eq 'SCHEDULED' or myTaskState eq 'TODAY' or myTaskState eq 'PROJECT'}">
                                        <b th:utext="#{tasks.focus.dueDate}">Due Date</b>
                                        <span th:text="${task.dueDate}"></span>
                                    </div>
                                    <div th:if="${myTaskState eq 'FOCUS' or myTaskState eq 'ALL' or myTaskState eq 'PROJECT'}">
                                        <b th:utext="#{tasks.focus.taskState}">Task State</b>
                                        <a th:href="@{{url}(url=${task.taskState.getUrl()})}">
                                            <i th:class="${task.taskState.getIcon()}"></i>
                                            <span th:utext="${#messages.msgOrNull(task.taskState.code)}">Inbox</span>
                                        </a>
                                    </div>
                                    <div th:if="${myTaskState ne 'PROJECT'}">
                                        <b th:text="#{tasks.inbox.project}">Project</b>
                                        <a th:href="@{/project/{id}(id=${task.project.id})}" th:if="${task.project ne null}">
                                            <i class="fas fa-folder-open"></i>
                                            <span th:text="${task.project.name}"></span>
                                        </a>
                                    </div>
                                    <div th:if="${myTaskState eq 'ALL'}">
                                        <b th:text="#{tasks.all.context}">tasks.all.context</b>
                                        <span th:if="${locale eq 'de'}" th:text="${task.context.nameDe}">task.context.nameDe</span>
                                        <span th:if="${locale ne 'de'}" th:text="${task.context.nameEn}">task.context.nameEn</span>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <a th:href="@{/task/{id}/edit(id=${task.id})}" class="btn btn-secondary" role="button"
                                       th:id="'task_' + ${task.id}" th:text="#{task.show.h1}">
                                    </a>
                                    <button type="button" class="btn btn-primary" data-dismiss="modal"th:text="#{task.show.button.close}">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td th:if="${myTaskState eq 'SCHEDULED' or myTaskState eq 'TODAY' or myTaskState eq 'PROJECT'}">
                    <span th:text="${task.dueDate}"></span>
                </td>
                <td th:if="${myTaskState eq 'FOCUS' or myTaskState eq 'ALL' or myTaskState eq 'PROJECT'}">
                    <a th:href="@{{url}(url=${task.taskState.getUrl()})}">
                        <i th:class="${task.taskState.getIcon()}"></i>
                        <span th:utext="${#messages.msgOrNull(task.taskState.code)}">Inbox</span>
                    </a>
                </td>
                <td th:if="${myTaskState ne 'PROJECT'}">
                    <a th:href="@{/project/{id}(id=${task.project.id})}" th:if="${task.project ne null}">
                        <i class="fas fa-folder-open"></i>
                        <span th:text="${task.project.name}"></span>
                    </a>
                </td>
                <td>
                    <span class="badge badge-pill badge-dark" th:text="${#messages.msgOrNull(task.taskEnergy.code)}" th:if="${task.taskEnergy.value ne 'NONE'}"></span>
                    <span class="badge badge-pill badge-dark" th:text="${#messages.msgOrNull(task.taskTime.code)}" th:if="${task.taskTime.value ne 'NONE'}"></span>
                </td>
                <td th:if="${myTaskState eq 'ALL'}">
                    <span th:if="${locale eq 'de'}" th:text="${task.context.nameDe}">task.context.nameDe</span>
                    <span th:if="${locale ne 'de'}" th:text="${task.context.nameEn}">task.context.nameEn</span>
                </td>
            </tr>
            </tbody>
        </table>
        </div>
        <div th:replace="this :: tw-tasks-pagination(page=${taskPage})">
        </div>
        </div>
    </div>

    <div th:fragment="tw-tasks-pagination(page)">
        <div class="row">
            <div class="col">
                <nav aria-label="pagination">
                    <ul class="pagination" sd:pagination="full">
                        <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                        <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                    </ul>
                </nav>
            </div>
            <div class="col">
                <span sd:pagination-summary="">info</span>
                <span sd:page-size-selector="javascript"></span>
            </div>
        </div>
    </div>

</html>