<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="t/layout/page :: head">
</head>
<body th:replace="t/layout/page :: tw-page-body(~{::mytwcontent})">
<div th:fragment="mytwcontent">

    <h1>
        <span th:utext="#{user.resetPasswordNotConfirmed.h1}">Password Reset</span>
    </h1>
    <div class="well">
        <p>
            <span th:utext="#{user.resetPasswordNotConfirmed.text}">Sorry. There is nothing known for your Request.</span>
        </p>
    </div>

</div>
</body>
</html>