<!DOCTYPE html>
<html th:lang="${#locale.language}"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  xmlns:sd="http://www.thymeleaf.org/spring-data">
<head th:replace="layout/page :: tw-page-head(headtitle=~{::title},links=~{},refreshMessages=false)">
	<title th:text="'SimpleWorklist | ' + #{project.show.h1}">Title</title>
</head>
<body th:replace="layout/page :: tw-page-body(twcontent=~{::mytwcontent},twtitle=~{::mytwtitle},scripts=~{})">

<div th:fragment="mytwtitle">
	<div id="tw-content-title">
		<h2>
      <i class="fas fa-project-diagram"></i>
			<span th:text="#{project.show.h1}" class="me-3">Project</span>
			<span th:if="${thisProject.id gt 0}">
        <a class="btn btn-block btn-outline-dark" data-bs-toggle="collapse"
           href="#collapseDescription" role="button" aria-expanded="false" aria-controls="collapseExample">
            <span th:text="${thisProject.name}"></span>
        </a>
			</span>
		</h2>
    <div class="collapse" id="collapseDescription">
      <div class="card card-body" th:text="${thisProject.description}"></div>
    </div>
		<div id="tw-content-title-actionbuttons" class="py-3">
      <div class="row">
          <div class="col-md-3">
              <a class="btn btn-block btn-primary" role="button" href="#"
                 th:href="@{/project/{thisProjectId}/task/add(thisProjectId=${thisProject.id})}">
                  <i class="fas fa-plus-square"></i>
                  <span th:text="#{project.show.addTask}">Add a Task</span>
              </a>
          </div>
          <div class="col-md-3">
              <a class="btn btn-block btn-secondary" role="button" href="#"
                 th:href="@{/project/{thisProjectId}/project/add(thisProjectId=${thisProject.id})}">
                  <i class="fas fa-plus-square"></i>
                  <span th:text="#{layout.page.addProject}">Add a Project</span>
              </a>
          </div>
          <div class="col-md-3">
              <a class="btn btn-block btn-outline-dark" role="button" href="#"
                 th:href="@{/project/{thisProjectId}/edit(thisProjectId=${thisProject.id})}">
                  <i class="fas fa-edit"></i>
                  <span th:text="#{project.show.edit}">Edit Project</span>
              </a>
          </div>
          <div class="col-md-3">
              <a class="btn btn-block btn-outline-dark" role="button" href="#"
                 th:href="@{/project/{thisProjectId}/delete(thisProjectId=${thisProject.id})}">
                  <i class="fas fa-trash-alt"></i>
                  <span th:text="#{project.show.delete}">Delete Project</span>
              </a>
          </div>
      </div>
		</div>
	</div>
</div>

<div th:fragment="mytwcontent">
	<!-- Document Window -->
	<div th:replace="layout/tasks :: tw-tasks-message(message=${message})">
	</div>
	<div th:if="${taskPage.getTotalElements() gt 0}">
		<div th:replace="layout/tasks :: tw-tasks-table(taskPage=${taskPage}, myTaskState='PROJECT', myUrlPath=@{/project/{thisProjectId}(thisProjectId=${thisProject.id})} )">
		</div>
	</div>
	<div th:if="${taskPage.getTotalElements() eq 0}">
		<p><span th:text="#{project.show.nothingToDo}">There is nothing to do in this project.</span></p>
	</div>
</div>

</body>
</html>
