<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="t/layout/page :: head">
</head>
<body th:replace="t/layout/page :: tw-page-body(~{::mytwcontent})">
<div th:fragment="mytwcontent">

	<!-- New Project Form -->
	<h1>
		<span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
		<span th:utext="#{project.edit.h1}">Edit Project</span>
	</h1>
	<div>
		<form id="formId" th:action="@{/project/{id}/edit(id=${thisProject.id})}" th:object="${project}" method="post">
			<div class="form-group">
				<label th:for="${#ids.next('name')}" class="control-label">Name</label>
				<input type="text" th:field="*{name}" class="form-control" />
				<div>
					<div th:each="err : ${#fields.errors('name')}" th:text="${err}" class="alert alert-danger" />
				</div>
			</div>
			<div class="form-group">
				<label th:for="${#ids.next('description')}"  class="control-label">
					<span th:utext="#{project.add.description}">Description</span>
				</label>
				<input type="text" th:field="*{description}" class="form-control" />
				<div>
					<div th:each="err : ${#fields.errors('description')}" th:text="${err}" class="alert alert-danger" />
				</div>
			</div>
			<div>
				<div class="form-group">
					<label th:for="${#ids.next('context.id')}" class="control-label">
						<span th:utext="#{project.edit.context}">Area</span>
					</label>
					<select th:field="*{context.id}">
						<option th:each="context : ${contexts}"
								th:value="${context.id}"
								th:text="${locale == 'de' ? context.nameDe : context.nameEn}">Wireframe</option>
					</select>
					<div>
						<div th:each="err : ${#fields.errors('context.id')}" th:text="${err}" class="alert alert-danger" />
					</div>
				</div>
			</div>
			<input type="hidden" th:field="*{id}" />
			<button id="saveEditedProject" type="submit" class="btn btn-default">
				<span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
				<span th:utext="#{project.edit.button}">Save Project</span>
			</button>
		</form>
	</div>
	<!-- Document Window End -->

</div>
</body>
</html>