<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="t/layout/page :: head">
</head>
<body th:replace="t/layout/page :: tw-page-body(~{::mytwcontent})">
<div th:fragment="mytwcontent">

<!-- TODO #37 -->
<!-- Document Window -->

	<div th:if="${thisProject.id gt 0}">
		<h1>
			<span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>&nbsp;
			<span th:text="${thisProject.name}"></span>
		</h1>
		<div th:text="${thisProject.description}"></div>
		<br />
		<br />
		<div>
			<a th:href="@{/project/{thisProjectId}/edit(thisProjectId=${thisProject.id})}" href="#">
				<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
				<span th:text="${project.show.edit}">Edit Project</span>
			</a> |
			<a th:href="@{/project/{thisProjectId}/delete(thisProjectId=${thisProject.id})}" href="#">
				<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
				<span th:text="${project.show.delete}">Delete Project</span>
			</a> |
			<a th:href="@{/task/addtoproject/{thisProjectId}(thisProjectId=${thisProject.id})}" href="#">
				<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
				<span th:text="${project.show.addTask}">Add Task</span>
			</a>
		</div>
		<br />
	</div>

	<div th:replace="t/layout/tasks :: tw-tasks-message(message=${message})">
	</div>

	<div th:if="${dataList.size() gt 0}">
		<!-- TODO: #34 -->
		<div th:replace="t/layout/tasks :: tw-tasks-table(dataList=${dataList},myTaskState='PROJECT')">
		</div>
		<div th:replace="t/layout/tasks :: tw-project-tasks-pagination(currentIndex=${currentIndex},beginIndex=${beginIndex},endIndex=${endIndex},totalPages=${totalPages},thisProjectId=${thisProject == null ? 0 : thisProject.id})">
		</div>
	</div>

	<div th:if="${dataList.size() eq 0}">
		<p><span th:text="#{project.show.nothingToDo}">There is nothing to do in this project.</span></p>
	</div>

</div>
</body>
</html>