<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:sd="http://www.thymeleaf.org/spring-data">
<head th:replace="layout/page :: head">
</head>
<body th:replace="layout/page :: tw-page-body(~{::mytwcontent})">
<div th:fragment="mytwcontent">

    <div id="tw-content-title">
        <h1>
            <i class="fas fa-check-square"></i>
            <span th:utext="#{tasks.completed.h1}">Completed Tasks</span>
        </h1>
        <div id="tw-content-title-actionbuttons">
            <a th:href="@{/tasks/completed/deleteall}">
                <i class="fas fa-trash-alt"></i>
                <span th:utext="#{tasks.completed.delete}">Delete All Completed Tasks</span>
            </a>
        </div>
    </div>

    <div th:replace="layout/tasks :: tw-tasks-message(message=${message})">
    </div>

    <div th:if="${dataList.size() gt 0}">
        <!-- TODO: #34 -->
        <div th:replace="layout/tasks :: tw-tasks-table(dataList=${dataList},myTaskState='COMPLETED')">
        </div>
        <div th:replace="layout/tasks :: tw-tasks-pagination(currentIndex=${currentIndex},beginIndex=${beginIndex},endIndex=${endIndex},totalPages=${totalPages},url='tasks/completed',page=${taskPage})">
        </div>
    </div>

    <div th:if="${dataList.size() eq 0}">
        <p><span th:text="#{tasks.completed.noTasks}">You have no completed Tasks</span></p>
    </div>

</div>
</body>
</html>