<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:sd="http://www.thymeleaf.org/spring-data">
<head th:replace="layout/page :: head">
</head>
<body th:replace="layout/page :: tw-page-body(~{::mytwcontent})">
<div th:fragment="mytwcontent">

    <div id="tw-content-title">
        <h1>
            <i class="fas fa-calendar-alt"></i>
            <span th:utext="#{tasks.scheduled.h1}">Scheduled</span>
        </h1>
    </div>

    <div th:replace="layout/tasks :: tw-tasks-message(message=${message})">
    </div>

    <div th:if="${dataList.size() gt 0}">
        <!-- TODO: #18 #33 Show Due Date for Task -->
        <div th:replace="layout/tasks :: tw-tasks-table(dataList=${dataList},myTaskState='SCHEDULED')">
        </div>
        <div th:replace="layout/tasks :: tw-tasks-pagination(currentIndex=${currentIndex},beginIndex=${beginIndex},endIndex=${endIndex},totalPages=${totalPages},url='tasks/scheduled')">
        </div>
    </div>

    <div th:if="${dataList.size() eq 0}">
        <p><span th:text="#{tasks.scheduled.noTasks}">You have no scheduled Tasks</span></p>
    </div>

</div>
</body>
</html>