<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/page :: head">
</head>
<body th:replace="layout/page :: tw-page-body(~{::mytwcontent})">
<div th:fragment="mytwcontent">

    <div id="tw-content-title">
        <h1>
            <span class="glyphicon glyphicon glyphicon-time" aria-hidden="true"></span>
            <span th:utext="#{tasks.today.h1}">Today</span>
        </h1>
    </div>

    <div th:replace="layout/tasks :: tw-tasks-message(message=${message})">
    </div>

    <div th:if="${dataList.size() gt 0}">
        <div th:replace="layout/tasks :: tw-tasks-table(dataList=${dataList},myTaskState='TODAY')">
        </div>
        <div th:replace="layout/tasks :: tw-tasks-pagination(currentIndex=${currentIndex},beginIndex=${beginIndex},endIndex=${endIndex},totalPages=${totalPages},url='tasks/today')">
        </div>
    </div>

    <div th:if="${dataList.size() eq 0}">
        <p><span th:text="#{tasks.today.noTasks}">You have no Tasks for Today</span></p>
    </div>

</div>
</body>
</html>