<!DOCTYPE html>
<html th:lang="${#locale.language}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:sd="http://www.thymeleaf.org/spring-data">
<head th:replace="layout/page :: tw-page-head(headtitle=~{::title},links=~{},refreshMessages=true)">
  <title th:text="'SimpleWorklist | ' + #{pages.userAccountChatMessages.h1}">Title</title>
</head>
<body th:replace="layout/page :: tw-page-body(twcontent=~{::mytwcontent},twtitle=~{::mytwtitle},scripts=~{})">

<div th:fragment="mytwtitle">
  <div class="row my-3 py-3 col">
    <h1>
      <strong th:utext="#{pages.userAccountChatMessages.h1}">Your Dialog with</strong>
    </h1>
    <h2>
      <small th:text="${otherUser.userFullname}">otherUser.userFullname</small>
    </h2>
  </div>
</div>

<div th:fragment="mytwcontent">

  <form id="formId" th:action="@{/user2user/{userId}/messages/(userId=${otherUser.id})}"
        th:object="${newUser2UserMessage}" method="post">
    <div class="row">
      <div class="col">
        <div class="card card-body" id="newUser2UserMessageForm">
          <div class="form-group col-12">
            <label for="messageTextEditor" class="control-label my-2" th:utext="#{pages.userAccountChatMessages.newMessage}">New Message:</label>
            <textarea id="messageTextEditor" rows="3" cols="50"
                      th:field="*{messageText}" class="form-control form-control-lg">
            </textarea>
            <div>
              <div th:each="err : ${#fields.errors('messageText')}"
                   th:text="${err}" class="invalid-feedback"/>
            </div>
          </div>
          <div class="my-3">
            <button id="newUserMessageButton" type="submit" class="btn btn-primary">
              <i class="fas fa-envelope"></i>
              <span th:utext="#{pages.userAccountChatMessages.newUserMessageButton}">Send Message</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div class="row">
    <div class="col">
      <div th:each="m : ${user2UserMessagePage}">
        <div class="alert alert-primary" role="alert"
             th:if="${m.sender.id != otherUser.id}" style="width: 66%; float:left">
          <span th:text="${m.messageText}"></span>
          <span style="float:right">
              <small>
                  <span th:text="${#dates.format(m.rowCreatedAt,'dd.MM.yyyy HH:mm:ss')}"></span>
                  <i th:if="${m.readByReceiver}" class="fas fa-check"></i>
              </small>
          </span>
        </div>
        <div class="alert alert-warning" role="alert"
             th:if="${m.sender.id == otherUser.id}" style="width: 66%; float:right">
          <span th:text="${m.messageText}"></span>
          <span style="float:right">
              <small>
                  <span th:text="${#dates.format(m.rowCreatedAt,'dd.MM.yyyy HH:mm:ss')}"></span>
                  <i th:if="${m.readByReceiver}" class="fas fa-check"></i>
              </small>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div th:replace="layout/tasks :: tw-tasks-pagination(page=${user2UserMessagePage})">
  </div>
</div>
</body>
</html>
