<!DOCTYPE html>
<html th:lang="${#locale.language}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:sd="http://www.thymeleaf.org/spring-data">
<head th:replace="layout/page :: tw-page-head(headtitle=~{::title},links=~{},refreshMessages=true)">
    <title th:text="'SimpleWorklist | ' + #{pages.chatMessages.h1}">Title</title>
</head>
<body th:replace="layout/page :: tw-page-body(twcontent=~{::mytwcontent},twtitle=~{::mytwtitle},scripts=~{})">

    <div th:fragment="mytwtitle">
        <h1>
            <span th:utext="#{pages.chatMessages.h1}">Your Dialog with</span>
            <small th:text="${otherUser.userFullname}">otherUser.userFullname</small>
        </h1>
    </div>

    <div th:fragment="mytwcontent">

        <div th:each="m : ${user2UserMessagePage}">
            <div class="row">
                <div class="col">
                    <div class="alert alert-info" role="alert"
                         th:style="${m.sender.id == otherUser.id ? 'width: 66%; float:right' : 'width: 66%; float:left'}">
                        <span th:text="${m.messageText}" ></span>
                        <span style="float:right">
                            <small>
                                <span th:text="${#dates.format(m.rowCreatedAt,'dd.MM.yyyy HH:mm:ss')}"></span>
                                <i th:if="${m.readByReceiver}" class="fas fa-check"></i>
                            </small>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="newUser2UserMessageForm">
            <div class="col">
                <div class="card card-body">
                    <form id="formId" th:action="@{/user2user/{userId}/messages/(userId=${otherUser.id})}"
                          th:object="${newUser2UserMessage}" method="post">
                        <div class="form-group">
                            <label for="textEditor" class="control-label">
                                <span th:utext="#{pages.chatMessages.newMessage}">New Message:</span>
                            </label>
                            <textarea id="textEditor" rows="3" cols="50"
                                      th:field="*{messageText}" class="form-control form-control-lg" />
                            <div>
                                <div th:each="err : ${#fields.errors('messageText')}"
                                     th:text="${err}" class="invalid-feedback" />
                            </div>
                        </div>
                        <div class="form-group">
                        </div>
                        <button id="newUserMessageButton" type="submit" class="btn btn-primary">
                            <i class="fas fa-envelope"></i>
                            <span th:utext="#{pages.chatMessages.newUserMessageButton}">Send Message</span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div th:replace="layout/tasks :: tw-tasks-pagination(page=${user2UserMessagePage})">
            </div>
        </div>
    </div>
</body>
</html>
