<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:sd="http://www.thymeleaf.org/spring-data">
<head th:replace="layout/page :: head">
</head>
<body th:replace="layout/page :: tw-page-body(~{::mytwcontent})">
<div th:fragment="mytwcontent">

    <div id="tw-content-title">
        <h1>
            <i class="fas fa-trash-alt"></i>
            <span th:utext="#{tasks.trash.h1}">Trash</span>
        </h1>
        <div id="tw-content-title-actionbuttons">
            <a th:href="@{/taskstate/trash/empty}">
                <i class="fas fa-trash-alt"></i>
                <span th:utext="#{tasks.trash.empty}">Empty Trash</span>
            </a>
        </div>
    </div>

    <div th:replace="layout/tasks :: tw-tasks-message(message=${message})">
    </div>

    <div th:if="${taskPage.getTotalElements() gt 0}">
        <!-- TODO: #34 -->
        <div th:replace="layout/tasks :: tw-tasks-table(taskPage=${taskPage},myTaskState='TRASHED')">
        </div>
    </div>

    <div th:if="${taskPage.getTotalElements() eq 0}">
        <p><span th:text="#{tasks.trash.noTasks}">You have no deleted Tasks in your Trash</span></p>
    </div>

</div>
</body>
</html>