<!DOCTYPE html>
<html th:lang="${#locale.language}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:sd="http://www.thymeleaf.org/spring-data">
<head th:replace="layout/page :: tw-page-head(headtitle=~{::title},links=~{},refreshMessages=false)">
    <title th:text="'SimpleWorklist | ' + #{tasks.waiting.h1}">Title</title>
</head>
<body th:replace="layout/page :: tw-page-body(twcontent=~{::mytwcontent},twtitle=~{::mytwtitle},scripts=~{})">

    <div th:fragment="mytwtitle">
        <div id="tw-content-title">
            <div class="row">
                <h1 class="col-md-12 mb-12">
                    <i class="fas fa-hourglass-half"></i>
                    <span th:utext="#{tasks.waiting.h1}">Waiting</span>
                </h1>
            </div>
            <div class="row">
                <div id="tw-content-title-actionbuttons" class="col-md-3 mb-3">
                    <a class="btn btn-block btn-primary" role="button" th:href="@{/taskstate/task/add}">
                        <i class="fas fa-plus-square"></i>
                        <span th:utext="#{tasks.inbox.addTask}">Add Task</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div th:fragment="mytwcontent">
        <div th:replace="layout/tasks :: tw-tasks-message(message=${message})" th:if="${message} != null" id="mytwcontent-message">
        </div>
        <div th:if="${taskPage.getTotalElements() gt 0}" id="mytwcontent-taskpage">
            <div th:replace="layout/tasks :: tw-tasks-table(taskPage=${taskPage},myTaskState='WAITING',myUrlPath=@{/taskstate})">
            </div>
        </div>
        <div th:if="${taskPage.getTotalElements() eq 0}" id="mytwcontent-no-taskpage">
            <p><span th:text="#{tasks.waiting.noTasks}">You are not waiting for others</span></p>
        </div>
    </div>

</body>
</html>
