<!DOCTYPE html>
<html th:lang="${#locale.language}"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  xmlns:sd="http://www.thymeleaf.org/spring-data">
<head th:replace="layout/page :: tw-page-head(headtitle=~{::title},links=~{},refreshMessages=false)">
	<title th:text="'SimpleWorklist | ' + #{project.show.h1}">Title</title>
</head>
<body th:replace="layout/page :: tw-page-body(twcontent=~{::mytwcontent},twtitle=~{::mytwtitle},scripts=~{})">

<div th:fragment="mytwtitle">
	<div id="tw-content-title">
		<h1>
			<i class="fas fa-folder-open"></i>
			<span th:text="#{project.show.h1}">Project</span>
		</h1>
		<div id="tw-content-title-actionbuttons">
			<a class="btn btn-sm btn-secondary" role="button" th:href="@{/project/root/add/project}">
				<i class="fas fa-plus-square"></i>
				<span th:text="#{layout.page.addProject}">Add a Project</span>
			</a>
			<a class="btn btn-sm btn-secondary" role="button" th:href="@{/project/root/add/task}" href="#">
				<i class="fas fa-plus-square"></i>
				<span th:text="#{project.show.addTask}">Add a Task</span>
			</a>
		</div>
	</div>
</div>

<div th:fragment="mytwcontent">
	<!-- Document Window -->
	<div th:replace="layout/tasks :: tw-tasks-message(message=${message})">
	</div>
	<div th:if="${taskPage.getTotalElements() gt 0}">
		<!-- TODO: #34 -->
		<div th:replace="layout/tasks :: tw-tasks-table(taskPage=${taskPage},myTaskState='PROJECT')">
		</div>
	</div>
	<div th:if="${taskPage.getTotalElements() eq 0}">
		<p><span th:text="#{project.show.nothingToDo}">There is nothing to do in this project.</span></p>
	</div>
</div>

</body>
</html>
