<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/page :: head">
</head>
<body th:replace="layout/page :: tw-page-body(~{::mytwcontent})">
<div th:fragment="mytwcontent">

    <h1>
        <span th:utext="#{user.registerDone.h1}">Register as new User</span>
    </h1>
    <div class="well">
        <p>
            <span th:utext="#{user.registerDone.text1}">You are registered now.</span>
            <a th:href="@{/templates/user/login}">
                <span th:utext="#{user.registerDone.text2}">Please log in here</span>
            </a>
        </p>
    </div>

</div>
</body>
</html>