<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:sd="http://www.thymeleaf.org/spring-data">
<head th:replace="layout/page :: head">
</head>
<body th:replace="layout/page :: tw-page-body(~{::mytwcontent})">
<div th:fragment="mytwcontent">

    <!-- Document Window -->
    <h1>
        <span th:utext="#{user.resetPasswordSentMail.h1}">Password Reset</span>
    </h1>

    <div class="well">
        <p>
            <span th:utext="#{user.resetPasswordSentMail.text}">Sent an email with Instructions for Password Reset to the given address. Please check your Inbox.</span>
        </p>
    </div>

</div>
</body>
</html>