html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 30px;
    margin-top: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    /* height: 30px; */
}

.navbar {
    padding: .25rem .5rem; !important;
}

.navbar-text-footer {
    display: inline-block;
}

.navbar-dark .navbar-text-footer {
    color: rgba(255,255,255,.5);
}

.nav-list {
    padding-left: 10px;
}

#rootCategory {
    padding-left: 0px !important;
}

#tw-main-section {
    padding-bottom: 1rem !important;
    margin-bottom: 1rem !important;
}

#user-login-form {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#user-login-form-more-information {

}
