html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 30px;
    margin-top: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 30px;
    background-color: #f5f5f5;
}

.nav-list {
    padding-left: 10px;
}

#rootCategory {
    padding-left: 0px !important;
}


#user-login-form {

}

#user-login-form-more-information {

}
