<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <div th:fragment="tw-tasks-message(message)">
        <div class="alert alert-danger alert-dismissible" role="alert" th:if="${message != null}">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span th:text="${message}"></span>
        </div>
    </div>

    <!-- TODO #36 -->
    <div th:fragment="tw-tasks-table(dataList,myTaskState)">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th><span th:utext="#{tasks.inbox.title}">Title</span></th>
                    <th><span th:utext="#{tasks.inbox.text}">Text</span></th>
                    <th th:if="${myTaskState eq 'SCHEDULED' or myTaskState eq 'PROJECT'}"><span th:utext="#{tasks.focus.dueDate}">Due Date</span></th>
                    <th th:if="${myTaskState eq 'FOCUS' or myTaskState eq 'ALL' or myTaskState eq 'PROJECT'}"><span th:utext="#{tasks.focus.taskState}">Task State</span></th>
                    <th th:if="${myTaskState ne 'PROJECT'}"><span th:utext="#{tasks.inbox.project}">Project</span></th>
                    <th>&nbsp;</th>
                    <th th:if="${myTaskState eq 'ALL'}">
                        <span th:utext="#{tasks.all.context}">Context</span>
                    </th>
                </tr>
            </thead>
            <tbody>
            <tr th:each="task : ${dataList}">
                <td>
                    <a alt="complete" th:href="@{/task/complete/{id}(id=${task.id})}" th:if="${task.taskState.name() ne 'COMPLETED' and task.taskState.name() ne 'TRASHED'}">
                        <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>
                    </a>
                    <a alt="complete" th:href="@{/task/incomplete/{id}(id=${task.id})}" th:if="${task.taskState.name() eq 'COMPLETED'}">
                        <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                    </a>
                    <span class="glyphicon glyphicon-check" aria-hidden="true" th:if="${task.taskState.name() eq 'TRASHED'}"></span>
                    &nbsp;&nbsp;
                    <a th:if="${task.focus}" alt="focus" th:href="@{/task/unsetfocus/{id}(id=${task.id})}">
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    </a>
                    <a th:if="${not task.focus}" alt="focus" th:href="@{/task/setfocus/{id}(id=${task.id})}">
                        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                    </a>
                </td>
                <td>
                    <a th:href="@{/task/detail/{id}(id=${task.id})}" class="dataDetailListTitle"
                       th:id="'dataDetail_' + ${task.id}">
                        <span th:text="${task.title}" th:if="${task.taskState.name() ne 'COMPLETED' and task.taskState.name() ne 'TRASHED'}"></span>
                        <del th:text="${task.title}" th:if="${task.taskState.name() eq 'COMPLETED' or task.taskState.name() eq 'TRASHED'}"></del>
                    </a>
                </td>
                <td>
                    <span th:text="${task.textShortened}" th:if="${task.taskState.name() ne 'COMPLETED' and task.taskState.name() ne 'TRASHED'}"></span>
                    <del th:text="${task.textShortened}" th:if="${task.taskState.name() eq 'COMPLETED' or task.taskState.name() eq 'TRASHED'}"></del>
                </td>
                <td th:if="${myTaskState eq 'SCHEDULED' or myTaskState eq 'PROJECT'}">
                    <span th:text="${task.dueDate}"></span>
                </td>
                <td th:if="${myTaskState eq 'FOCUS' or myTaskState eq 'ALL' or myTaskState eq 'PROJECT'}" th:switch="${task.taskState.name()}">
                    <a th:case="'INBOX'" th:href="@{/tasks/inbox}">
                        <span class="glyphicon glyphicon-inbox" aria-hidden="true"></span>
                        <span th:utext="#{tasks.focus.inbox}">Inbox</span>
                    </a>
                    <a th:case="'TODAY'" th:href="@{/tasks/today}">
                        <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                        <span th:utext="#{tasks.focus.today}">Today</span>
                    </a>
                    <a th:case="'NEXT'" th:href="@{/tasks/next}">
                        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        <span th:utext="#{tasks.focus.next}">Next</span>
                    </a>
                    <a th:case="'WAITING'" th:href="@{/tasks/waiting}">
                        <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span>
                        <span th:utext="#{tasks.focus.waiting}">Waiting</span>
                    </a>
                    <a th:case="'SCHEDULED'" th:href="@{/tasks/scheduled}">
                        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                        <span th:utext="#{tasks.focus.scheduled}">Scheduled</span>
                    </a>
                    <a th:case="'SOMEDAY'" th:href="@{/tasks/someday}">
                        <span class="glyphicon glyphicon-road" aria-hidden="true"></span>
                        <span th:utext="#{tasks.focus.someday}">Someday</span>
                    </a>
                    <a th:case="'TRASHED'" th:href="@{/tasks/trash}">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        <span th:utext="#{tasks.focus.trash}">Trash</span>
                    </a>
                </td>
                <td th:if="${myTaskState ne 'PROJECT'}">
                    <a th:href="@{/project/{id}(id=${task.project.id})}" th:if="${task.project ne null}">
                        <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
                        <span th:text="${task.project.name}"></span>
                    </a>
                </td>
                <td>
                    <span class="badge" th:text="${#messages.msgOrNull(task.taskEnergy.code)}" th:if="${task.taskEnergy.value ne 'NONE'}"></span>
                    <span class="badge" th:text="${#messages.msgOrNull(task.taskTime.code)}" th:if="${task.taskTime.value ne 'NONE'}"></span>
                </td>
                <td th:if="${myTaskState eq 'ALL'}">
                    <span th:if="${locale eq 'de'}" th:text="${task.context.nameDe}">task.context.nameDe</span>
                    <span th:if="${locale ne 'de'}" th:text="${task.context.nameEn}">task.context.nameEn</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:fragment="tw-tasks-pagination(currentIndex,beginIndex,endIndex,totalPages,url)">
        <nav th:if="${totalPages gt 1}">
            <div>
                <ul class="pagination">
                    <li><a th:href="@{/{url}(url=${url},page=1)}" th:class="${currentIndex eq 1 ? 'disabled' : ''}">&lt;&lt;</a></li>
                    <li><a th:href="@{/{url}(url=${url},page=${currentIndex - 1})}" th:class="${currentIndex eq 1 ? 'disabled' : ''}">&lt;</a></li>
                    <li th:each="i : ${#numbers.sequence(beginIndex,endIndex)}">
                        <a th:href="@{/{url}(url=${url},page=${i})}" th:class="${i eq currentIndex ? 'active' : ''}" th:text="${i}"></a>
                    </li>
                    <li><a th:href="@{/{url}(url=${url},page=${currentIndex + 1})}" th:class="${currentIndex eq totalPages ? 'disabled' : ''}">&gt;</a></li>
                    <li><a th:href="@{/{url}(url=${url},page=${totalPages})}" th:class="${currentIndex eq totalPages ? 'disabled' : ''}">&gt;&gt;</a></li>
                </ul>
            </div>
        </nav>
    </div>

    <div th:fragment="tw-project-tasks-pagination(currentIndex,beginIndex,endIndex,totalPages,thisProjectId)">
        <nav th:if="${totalPages gt 1}">
            <div>
                <ul class="pagination">
                    <li><a th:href="@{/project/{thisProjectId}/page/{page}(thisProjectId=${thisProjectId},page=1)}" th:class="${currentIndex eq 1 ? 'disabled' : ''}">&lt;&lt;</a></li>
                    <li><a th:href="@{/project/{thisProjectId}/page/{page}(thisProjectId=${thisProjectId},page=${currentIndex - 1})}" th:class="${currentIndex eq 1 ? 'disabled' : ''}">&lt;</a></li>
                    <li th:each="i : ${#numbers.sequence(beginIndex,endIndex)}">
                        <a th:href="@{/project/{thisProjectId}/page/{page}(thisProjectId=${thisProjectId},page=${i})}" th:class="${i eq currentIndex ? 'active' : ''}" th:text="${i}"></a>
                    </li>
                    <li><a th:href="@{/project/{thisProjectId}/page/{page}(thisProjectId=${thisProjectId},page=${currentIndex + 1})}" th:class="${currentIndex eq totalPages ? 'disabled' : ''}">&gt;</a></li>
                    <li><a th:href="@{/project/{thisProjectId}/page/{page}(thisProjectId=${thisProjectId},page=${totalPages})}" th:class="${currentIndex eq totalPages ? 'disabled' : ''}">&gt;&gt;</a></li>
                </ul>
            </div>
        </nav>
    </div>

</html>