<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="t/layout/page :: head">
</head>
<body th:replace="t/layout/page :: tw-page-body(~{::mytwcontent})">
<div th:fragment="mytwcontent">

<h1><spring:message code="user.registerSentMail.h1" text="Register as new User" /></h1>
<div class="well">
  <p><spring:message code="user.registerSentMail.text" text="Verification needed. Sent an email to the given address. Please check your Inbox." /></p>
</div>
				