<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="t/layout/page :: head">
</head>
<body th:replace="t/layout/page :: tw-page-body(~{::mytwcontent})">
<div th:fragment="mytwcontent">

<h1><spring:message code="user.registerDone.h1" text="Register as new User" /></h1>
<div class="well">
<p><spring:message code="user.registerDone.text1" text="You are registered now." /> <a href="<c:url value="/login"/>"><spring:message code="user.registerDone.text2" text="Please log in here" /></a></p>
</div>
