<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="t/layout/page :: head">
</head>
<body th:replace="t/layout/page :: tw-page-body(~{::mytwcontent})">
<div th:fragment="mytwcontent">

<!-- Document Window -->
<h1><spring:message code="user.resetPasswordSentMail.h1" text="Password Reset" /></h1>
<div class="well">
<p><spring:message code="user.resetPasswordSentMail.text" text="Sent an email with Instructions for Password Reset to the given address. Please check your Inbox." /></p>
</div>