<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="t/layout/page :: head">
</head>
<body th:replace="t/layout/page :: tw-page-body(~{::mytwcontent})">
<div th:fragment="mytwcontent">

<h1><spring:message code="user.resetPasswordNotConfirmed.h1" text="Password Reset" /></h1>
<div class="well">
<div>
    <p>
        <spring:message code="user.resetPasswordNotConfirmed.text" text="Sorry. There is nothing known for your Request." />
    </p>
</div>
</div>