<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="t/layout/page :: head">
</head>
<body th:replace="t/layout/page :: tw-page-body(~{::mytwcontent})">
<div th:fragment="mytwcontent">

<h1><spring:message code="user.resetPasswordDone.h1" text="Password Reset" /></h1>
<div class="well">
    <p><spring:message code="user.resetPasswordDone.text1" text="Your Password is changed now. Please log in" /> <a href="<c:url value="/login"/>"><spring:message code="user.resetPasswordDone.text2" text="here" /></a></p>
</div>

