<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="t/layout/page :: head">
</head>
<body th:replace="t/layout/page :: tw-page-body(~{::mytwcontent})">
<div th:fragment="mytwcontent">

    <h1>
        <span th:utext="#{user.resetPasswordConfirmed.h1}">Password Reset</span>
    </h1>
    <div class="well">
        <form:form id="formId" commandName="userAccountFormBean" method="post">
            <div class="form-group">
                <form:label path="userPassword">
                    <span th:utext="#{user.resetPasswordConfirmed.password}">Password</span>
                </form:label>
                <form:password path="userPassword" class="form-control"/>
                <br/>
                <form:errors path="userPassword" delimiter=", " element="div" class="alert alert-danger"/>
            </div>
            <div class="form-group">
                <form:label path="userPasswordConfirmation">
                    <span th:utext="#{user.resetPasswordConfirmed.passwordAgain}">Password again</span>
                </form:label>
                <form:password path="userPasswordConfirmation" class="form-control"/>
                <br/>
                <form:errors path="userPasswordConfirmation" delimiter=", " element="div" class="alert alert-danger"/>
            </div>
            <form:hidden path="userFullname"/>
            <form:hidden path="userEmail"/>
            <button id="saveNewPassword" type="submit" class="btn btn-default">
                <span th:utext="#{user.resetPasswordConfirmed.button}">Save New Password</span>
            </button>
        </form:form>
    </div>

</div>
</body>
</html>