<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="t/layout/page :: head">
</head>
<body th:replace="t/layout/page :: tw-page-body(~{::mytwcontent})">
<div th:fragment="mytwcontent">

    <h1>
        <span th:utext="#{user.resetPasswordConfirmed.h1}">Password Reset</span>
    </h1>
    <div class="well">
        <form th:action="@{/passwordResetConfirm/{confirmId}(confirmId=${confirmId})}" th:object="${userAccountFormBean}" method="post">
            <input type="hidden" th:field="*{userFullname}" />
            <input type="hidden" th:field="*{userEmail}" />
            <div class="form-group">
                <label th:for="${#ids.next('userPassword')}" class="control-label">
                    <span th:utext="#{user.registerConfirmed.userPassword}">Password</span>
                </label>
                <input type="text" th:field="*{userPassword}" class="form-control" />
                <div>
                    <div th:each="err : ${#fields.errors('userPassword')}" th:text="${err}" class="alert alert-danger" >
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label th:for="${#ids.next('userPasswordConfirmation')}" class="control-label">
                    <span th:utext="#{user.registerConfirmed.userPasswordConfirmation}">Password again</span>
                </label>
                <input type="text" th:field="*{userPasswordConfirmation}" class="form-control" />
                <div>
                    <div th:each="err : ${#fields.errors('userPasswordConfirmation')}" th:text="${err}" class="alert alert-danger" >
                    </div>
                </div>
            </div>
            <button id="saveNewPassword" type="submit" class="btn btn-default">
                <span th:utext="#{user.resetPasswordConfirmed.button}">Save New Password</span>
            </button>
        </form>
    </div>

</div>
</body>
</html>