<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="t/layout/page :: head">
</head>
<body th:replace="t/layout/page :: tw-page-body(~{::mytwcontent})">
<div th:fragment="mytwcontent">

    <h1>
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        <span th:utext="#{user.selfservice.profile.changeContexts}">Change Areas</span>
    </h1>
    <h2>
        <span th:utext="#{user.selfservice.forUser}">for User:</span>
        <strong>
            <span sec:authentication="name"></span>
        </strong>
    </h2>
    <div>
        <a th:href="@{/user/selfservice/context/add}">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
            <span th:utext="#{user.selfservice.contexts.add.button}">Add Area</span>
        </a>
        <br />
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>
                    <span th:utext="#{enum.language.en}">Englisch</span>
                </th>
                <th>
                    <span th:utext="#{enum.language.de}">Deutsch</span>
                </th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="context : ${contexts}">
                    <td>
                        <span th:text="${context.nameEn}">context.nameEn</span>
                    </td>
                    <td>
                        <span th:text="${context.nameDe}">context.nameDe</span>
                    </td>
                    <td>
                        <a th:href="@{/user/selfservice/context/edit/{id}(id=${context.id})}">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        </a>
                    </td>
                    <td>
                        <a th:href="@{/user/selfservice/context/delete/{id}(id=${context.id})}">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="well">
    <form id="formId" th:action="@{/user/selfservice/contexts}" th:object="${thisUser}" method="post">
        <div class="form-group">
            <label th:for="${#ids.next('defaultContext.id')}"  class="control-label">
                <span th:utext="#{user.selfservice.context.default}">Default Area</span>
            </label>
            <select th:field="*{defaultContext.id}">
                <option th:each="context : ${contexts}"
                        th:value="${context.id}"
                        th:text="${locale == 'de' ? context.nameDe : context.nameEn}">Wireframe</option>
            </select>
            <div>
                <div th:each="err : ${#fields.errors('defaultContext.id')}" th:text="${err}" class="alert alert-danger" />
            </div>
        </div>
        <input type="hidden" th:field="*{id}" />
        <button id="saveLanguageButton" type="submit" class="btn btn-default">
            <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
            <span th:utext="#{user.selfservice.context.default.button}">Save Default Area</span>
        </button>
    </form>
    </div>
    <br/>
    <a th:href="@{/user/selfservice}">
        <span th:utext="#{button.back}">back</span>
    </a>

</div>
</body>
</html>