<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="t/layout/page :: head">
</head>
<body th:replace="t/layout/page :: tw-page-body(~{::mytwcontent})">
<div th:fragment="mytwcontent">

    <h1>
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> &nbsp;
        <span th:utext="#{user.selfservice.profile.name}">Change Name</span>
        <span th:text="${thisUser.userFullname}">thisUser.userFullname</span>
    </h1>
    <h2>
        <span th:utext="#{user.selfservice.forUser}">for User:</span>
        <strong>
             <span sec:authentication="name"></span>
        </strong>
    </h2>

    <div>
        <form:form id="formId" commandName="username" method="post">
            <div class="form-group">
                <form:label path="userFullname">
                    <span th:utext="#{user.registerConfirmed.userFullname}">Full Name</span>
                </form:label>
                <form:input path="userFullname" class="form-control"/>
                <br/>
                <form:errors path="userFullname" delimiter=", " element="div" class="alert alert-danger"/>
            </div>
            <button id="save-username" type="submit" class="btn btn-default">
                <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
                <span th:utext="#{user.selfservice.name.button}">Save Username</span>
            </button>
        </form:form>
    </div>

    <br/>
    <a th:href="@{/user/selfservice}">
        <span th:utext="#{button.back}">back</span>
    </a>

</div>
</body>
</html>