<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="t/layout/page :: head">
</head>
<body th:replace="t/layout/page :: tw-page-body(~{::mytwcontent})">
<div th:fragment="mytwcontent">

    <h1>
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        <span th:utext="#{user.selfservice.profile.changePassword}">Change Password</span>
    </h1>
    <h2>
        <span th:utext="#{user.selfservice.forUser}">for User:</span>
        <strong>
            <span sec:authentication="name"></span>
        </strong>
    </h2>
    <div>
        <form id="formId" th:action="@{/user/selfservice/password}" th:object="${userChangePasswordFormBean}" method="post">
            <div class="form-group">
                <label th:for="${#ids.next('oldUserPassword')}" class="control-label">
                    <span th:utext="#{user.resetPasswordConfirmed.oldUserPassword}">Current Password</span>
                </label>
                <input type="text" th:field="*{oldUserPassword}" class="form-control" />
                <div>
                    <div th:each="err : ${#fields.errors('oldUserPassword')}" th:text="${err}" class="alert alert-danger" />
                </div>
            </div>
            <div class="form-group">
                <label th:for="${#ids.next('userPassword')}" class="control-label">
                    <span th:utext="#{user.resetPasswordConfirmed.password}">Password</span>
                </label>
                <input type="password" th:field="*{userPassword}" class="form-control" />
                <div>
                    <div th:each="err : ${#fields.errors('userPassword')}" th:text="${err}" class="alert alert-danger" />
                </div>
            </div>
            <div class="form-group">
                <label th:for="${#ids.next('userPasswordConfirmation')}" class="control-label">
                    <span th:utext="#{user.resetPasswordConfirmed.passwordAgain}">Password again</span>
                </label>
                <input type="password" th:field="*{userPasswordConfirmation}" class="form-control" />
                <div>
                    <div th:each="err : ${#fields.errors('userPasswordConfirmation')}" th:text="${err}" class="alert alert-danger" />
                </div>
            </div>
            <button id="saveNewPassword" type="submit" class="btn btn-default">
                <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
                <span th:utext="#{user.resetPasswordConfirmed.button}">Save New Password</span>
            </button>
        </form>
    </div>
    <br/>
    <a th:href="@{/user/selfservice}">
        <span th:utext="#{button.back}">back</span>
    </a>

</div>
</body>
</html>