<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="t/layout/page :: head">
</head>
<body th:replace="t/layout/page :: tw-page-body(~{::mytwcontent})">
<div th:fragment="mytwcontent">

    <h1>
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span> &nbsp;
        <span th:utext="#{user.selfservice.profile.h1}">User Profile</span>
    </h1>
    <ul>
        <li>
            <span th:utext="#{user.selfservice.profile.userEmail}">User Email:</span>
            <strong>
                <span sec:authentication="name"></span>
            </strong>
        </li>
        <li>
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            <span th:utext="#{user.selfservice.profile.name}">Name:</span>
            <a th:href="@{/user/selfservice/name}">
                <span th:text="${thisUser.userFullname}">thisUser.userFullname</span>
            </a>
        </li>
        <li>
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            <a th:href="@{/user/selfservice/password}">
                <span th:utext="#{user.selfservice.profile.changePassword}">Change Password</span>
            </a>
        </li>
        <li>
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            <a th:href="@{/user/selfservice/contexts}">
                <span th:utext="#{user.selfservice.profile.changeContexts}">Change Areas</span>
            </a>
        </li>
        <li>
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            <a th:href="@{/user/selfservice/language}">
                <span th:utext="#{user.selfservice.profile.changeLanguage}">Set Default Language</span>
            </a>
        </li>
        <li>
            <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
            <a th:href="@{/tasks/all}">
                <span th:utext="#{tasks.all.h1}">All Tasks</span>
            </a>
        </li>
    </ul>
    <div th:if="${not empty users}">
        <h3>
            <span th:utext="#{pages.users.h1}">List of registered Users</span>
        </h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        <span th:utext="#{pages.users.messages}">Messages</span>
                    </th>
                    <th>Name</th>
                    <th>
                        <span th:utext="#{pages.users.lastLogin}">Last Login</span>
                    </th>
                    <th>
                        <span th:utext="#{pages.users.dateOfRegistration}">Date of registration</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${users}">
                    <td>
                        <span th:if="${user.id != thisUser.id}">
                            <a th:href="/user/{id}/messages/(id=${user.id})">
                                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                                <span th:utext="#{pages.users.messages}">Messages</span>
                                <span class="badge" th:if="#{usersToNewMessages.get(user.id) gt 0}">
                                    <span th:text="#{usersToNewMessages.get(user.id)}">Messages</span>
                                </span>
                            </a>
                        </span>
                    </td>
                    <td>
                        <span th:text="#{user.userFullname}">user.userFullname</span>
                    </td>
                    <td>
                        <span th:text="${#dates.format(user.lastLoginTimestamp,'dd.MM.yyyy HH:mm:ss')}"></span>
                    </td>
                    <td>
                        <span th:text="${#dates.format(user.createdTimestamp,'dd.MM.yyyy HH:mm:ss')}"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
</body>
</html>