<!DOCTYPE html>
<html th:lang="${#locale.language}"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  xmlns:sd="http://www.thymeleaf.org/spring-data">
<head th:replace="layout/page :: tw-page-head(headtitle=~{::title},links=~{},refreshMessages=false)">
	<title th:text="'SimpleWorklist | ' + #{project.add.h1}">Title</title>
</head>
<body th:replace="layout/page :: tw-page-body(twcontent=~{::mytwcontent},twtitle=~{::mytwtitle},scripts=~{::script})">

<div th:fragment="mytwtitle">
	<!-- New Project Form -->
	<h1>
		<i class="fas fa-folder-open"></i> &nbsp;
		<span th:utext="#{project.add.h1}">Add Project</span>
	</h1>
</div>

<div th:fragment="mytwcontent">
    <form id="formId" class="was-validated" method="post"
          th:action="@{/project/root/project/add}" th:object="${project}">
        <div th:replace="layout/project :: tw-project-form(project=${project},contexts=${contexts})"></div>
      <div class="col">
        <a th:href="@{/project/root}"
           class="btn btn-secondary btn-block" role="button">
          <i class="fas fa-angle-double-left"></i>
          <span th:utext="#{task.show.button.close}">cancel and back</span>
        </a>
      </div>
        <div class="form-row">
            <div class="col-md-12 mb-12">
                <button id="createNewProject" type="submit" class="btn btn-block btn-primary">
                    <i class="fas fa-save"></i>
                    <span th:utext="#{project.add.button}">Add Project</span>
                </button>
            </div>
        </div>
    </form>
</div>

	<script th:src="@{/webjars/ckeditor/4.14.0/full/ckeditor.js}"></script>
	<script th:inline="javascript">
		CKEDITOR.replace( 'textEditor' );
	</script>
</body>
</html>
