<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  xmlns:sd="http://www.thymeleaf.org/spring-data">
<head th:replace="layout/page :: head">
</head>
<body th:replace="layout/page :: tw-page-body(~{::mytwcontent},~{::mytwtitle})">

	<div th:fragment="mytwtitle">
		<h1>
			<span th:utext="#{user.registerForm.h1}">Register as new User</span>
		</h1>
	</div>

	<div th:fragment="mytwcontent">
		<div class="card card-body">
			<form id="formId" th:action="@{/register}" th:object="${registerFormBean}" method="post">
				<div class="form-group">
					<label th:for="${#ids.next('email')}" class="control-label">Email</label>
					<input type="email" th:field="*{email}" class="form-control" />
					<div>
						<div th:each="err : ${#fields.errors('email')}" th:text="${err}" class="alert alert-danger" >
						</div>
					</div>
				</div>
				<button id="registerButton" type="submit" class="btn btn-primary">
					<span th:utext="#{user.registerForm.button}">Register</span>
				</button>
			</form>
		</div>
	</div>

</body>
</html>